{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}
{% load staticfiles %}
{% block title %}Page not found{% endblock %}
{% block section_class %}page-login{% endblock %}
{% block wrapper %}{% endblock %}

{% block menu %}{% endblock %}
{% block content %}
    <div class="container">
        <main>
            <h2>404 / Not Found</h2>
            <p>This seems to be a broken link.<br>
            But hey, don't worry! We have many pages for you!</p>
            <p>Here's <a href="/projects/">a link to our projects</a>. They're fun!</p>
        </main>
    </div>
{% endblock %}