{% load static %}

<article class="reward-teaser {{ reward_class|default:"added-reward col-md-3" }}" data-id="{{ reward.pk }}">
    <header class="reward-header">
        <strong class="reward-name" title="{{ reward.name }}">{{ reward.name|truncatechars:22 }}</strong>
    </header>
    <section class="reward-body">
        <img src="{% if reward.image_link %}{{ reward.image_link }}{% else %}{% static 'img/reward-default-logo.svg' %}{% endif %}"
             style="height: 100px;"
             alt="Reward logo for {{ reward.name }}">
    </section>
    <section class="reward-content">
        <p title="{{ reward.description }}">{{ reward.description|truncatechars:40 }}</p>
    </section>
    <hr>
    <section class="reward-content">
        <p class="project-name hidden">{{ reward.project.title }}</p>
        <p class="meta">Remaining: <span><strong{% if reward.remaining < 3 %} class="running-out-warning"{% endif %}>{{ reward.remaining }}</strong></span></p>
        <p class="meta">CloudCoins needed: <span><strong class="reward-cost">{{ reward.cost }}</strong></span></p>
    </section>
    <hr>
    <section class="reward-button">
        <a href="#" class="btn reward-purchase-btn" alt="buy reward" data-toggle="modal" data-target=".buy-new-reward-popup">buy</a>
    </section>
</article>