{% load static %}

<div class="reward-teaser added-reward {{ reward_class|default:"col-md-3" }}">
    <header class="reward-header">
        <strong>{{ reward.name }}</strong>
    </header>
    <section class="reward-body">
        <img src="{% if reward.image_link %}{{ reward.image_link }}{% else %}{% static 'img/reward-default-logo.svg' %}{% endif %}"
             style="height: 100px;"
             alt="Reward logo for {{ reward.name }}">
    </section>
    <section class="reward-content">
        <p>{{ reward.description }}</p>
    </section>
    <hr>
    <section class="reward-content">
        <p class="meta">Remaining: <span><strong{% if reward.remaining < 3 %} style="color: red;"{% endif %}>{{ reward.remaining }}</strong></span></p>
        <p class="meta">CloudCoins needed: <span><strong>{{ reward.cost }}</strong></span></p>
    </section>
    <hr>
    <section class="reward-button">
        <a href="#" class="btn" alt="buy reward" data-toggle="modal" data-target=".buy-new-reward-popup">buy</a>
    </section>
</div>