{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}How does it work?{% endblock %}

{% block pre_content %}
<section class="page public-page page-tutorial">
    <div class="content">
        <main>
            <header class="main-header header-tutorial" style="background-image: url('{% static "ct_projects/img/how-it-works/hands.svg" %}');">
                <div class="container">
                    <h1 class="header-extra-large public">How does it work?</h1>
                    <p class="public-page-subtitle">Let's quickly walk you through it</p>
                </div>
            </header>

            <section class="public-projects-logged-in-content">
                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-8">
                                <img src="{% static 'ct_projects/img/how-it-works/customer-and-dev.svg' %}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-8">
                                <h2>What is cloud teams?</h2>
                                <p>CloudTeams is a new platform that brings together the software development community and potential end users. CloudTeams aims to create a link between the creators of technology and the people who add meaning to it, the users.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="steps">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>How does it work for a user?</h2>
                                <p>If you think software applications should be meaningful and enjoyable, CloudTeams will offer you a way to actively collaborate with creators to shape up any type of software application. We believe that with the right set of tools, transparency & control people like you can make a difference.</p>
                                <p>You will define how you want to participate and how much you want to share. Choose one or multiple applications, compete with other members, earn rewards, or simply enjoy the data visualizations.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 step">
                                <img src="{% static 'ct_projects/img/how-it-works/for-user-1.svg' %}">
                                <p>Register to CloudTeams</p>
                            </div>
                            <div class="col-sm-4 step">
                                <img src="{% static 'ct_projects/img/how-it-works/for-user-2.svg' %}">
                                <p>Take test provided by development teams</p>
                            </div>
                            <div class="col-sm-4 step">
                                <img src="{% static 'ct_projects/img/how-it-works/for-user-3.svg' %}">
                                <p>Earn rewards by doing so</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="introduction">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>How to participate?</h2>
                                <p>If you want to participate to CloudTeams, follow these instructions:</p>
                                <ul class="steps">
                                    <li><i class="icon icon-edit"></i> Go to <a href="/activitytracker/login/">LOG IN</a> and register as a user</li>
                                    <li><i class="icon icon-mail"></i> Check your mailbox to confirm your registration
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="button-end">
                                <h3>Start now</h3>
                                <a href="{% url 'register' %}" class="btn big">Register</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
    </div>
</section>
{% endblock %}