{% extends 'profile/emails/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if name %}
        <p>Dear {{ name }}, </p>
    {% else %}
        <p>Hello, </p>
    {% endif %}

    <p>{% if from_name %}{{ from_name }} has invited you{% elif project_name %}The {{ project_name }} project has invited you{% else %}You are invited{% endif %} to join CloudTeams.eu, a new platform that brings together the software development community and potential end users. CloudTeams aims to create a link between the creators of technology and the people who add meaning to it, like you!</p>
    <p>Click <a href="http://customers.cloudteams.eu/activitytracker/account/register/{% if ref_id %}?ref_id={{ ref_id }}{% elif team_ref_id %}?team_ref_id={{ team_ref_id }}{% endif %}">here</a> to join CloudTeams now!</p>
    <p>Best,<br />
    <em>The CloudTeams team</em></p>
{% endblock %}