*.pyc
*.sqlite3
*.json

# Pycharm
*.idea
.idea/

config.py

# CACHED CSS/JS
static/CACHE

# user avatars
avatars/*
activitytracker/static/font/
activitytracker/static/css/
activitytracker/static/fonts/
activitytracker/static/js/
media/avatars/*

# passwords
passwords.py