@font-face {
	font-family: 'activicon';
	src:url('../font/activicon.eot?-iau8kd');
	src:url('../font/activicon.eot?#iefixiau8kd') format('embedded-opentype'),
		url('../font/activicon.woff?-iau8kd') format('woff'),
		url('../font/activicon.ttf?-iau8kd') format('truetype'),
		url('../font/activicon.svg?-iau8kd#activicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'activicon2';
	src:url('../font/activicon2.eot?-3tz3n8');
	src:url('../font/activicon2.eot?#iefix-3tz3n8') format('embedded-opentype'),
		url('../font/activicon2.ttf?-3tz3n8') format('truetype'),
		url('../font/activicon2.woff?-3tz3n8') format('woff'),
		url('../font/activicon2.svg?-3tz3n8#activicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="activicon-"], [class*=" activicon-"] {
	font-family: 'activicon', 'activicon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.activicon-procrastinating:before {
	content: "\e64c";
}

.activicon-spinning:before {
	content: "\e650";
}

.activicon-zumba:before {
	content: "\e651";
}

.activicon-stairmaster-stepwell:before {
	content: "\e652";
}

.activicon-yoga:before {
	content: "\e653";
}

.activicon-crossfit:before {
	content: "\e654";
}

.activicon-circuit-training:before {
	content: "\e655";
}

.activicon-elliptical:before {
	content: "\e656";
}

.activicon-group-workout:before {
	content: "\e657";
}

.activicon-barre:before {
	content: "\e658";
}

.activicon-core-strengthening:before {
	content: "\e659";
}

.activicon-bootcamp:before {
	content: "\e65a";
}

.activicon-pilates:before {
	content: "\e65b";
}

.activicon-arc-trainer:before {
	content: "\e65c";
}

.activicon-boxing-mma:before {
	content: "\e65d";
}

.activicon-dance:before {
	content: "\e65e";
}

.activicon-strength-training:before {
	content: "\e65f";
}

.activicon-handgliding:before {
	content: "\e64d";
}

.activicon-sports-other:before {
	content: "\e64e";
}

.activicon-leisure32:before {
	content: "\e64f";
}

.activicon-flying:before {
	content: "\e601";
}

.activicon-basketball:before {
	content: "\e602";
}

.activicon-bathing:before {
	content: "\e603";
}

.activicon-meeting:before {
	content: "\e604";
}

.activicon-accounting:before {
	content: "\e605";
}

.activicon-driving:before {
	content: "\e606";
}

.activicon-roadtripping:before {
	content: "\e607";
}

.activicon-cleaning:before {
	content: "\e608";
}

.activicon-drink:before {
	content: "\e609";
}

.activicon-videogames:before {
	content: "\e60a";
}

.activicon-cooking:before {
	content: "\e60b";
}

.activicon-hunting:before {
	content: "\e60c";
}

.activicon-dining:before {
	content: "\e60d";
}

.activicon-on-the-road:before {
	content: "\e60e";
}

.activicon-dressing:before {
	content: "\e60f";
}

.activicon-sex:before {
	content: "\e610";
}

.activicon-fishing:before {
	content: "\e611";
}

.activicon-out-with-friends:before {
	content: "\e612";
}

.activicon-instruments:before {
	content: "\e613";
}

.activicon-shopping:before {
	content: "\e614";
}

.activicon-music-listening:before {
	content: "\e615";
}

.activicon-hospital:before {
	content: "\e616";
}

.activicon-skating:before {
	content: "\e617";
}

.activicon-holiday:before {
	content: "\e618";
}

.activicon-relaxing:before {
	content: "\e619";
}

.activicon-make-up:before {
	content: "\e61a";
}

.activicon-sick:before {
	content: "\e61b";
}

.activicon-groceries:before {
	content: "\e61c";
}

.activicon-partying:before {
	content: "\e61d";
}

.activicon-medicating:before {
	content: "\e61e";
}

.activicon-biking:before {
	content: "\e61f";
}

.activicon-travelling:before {
	content: "\e620";
}

.activicon-doctor:before {
	content: "\e621";
}

.activicon-financial:before {
	content: "\e622";
}

.activicon-caring:before {
	content: "\e623";
}

.activicon-mountain-biking:before {
	content: "\e624";
}

.activicon-wheelchair:before {
	content: "\e625";
}

.activicon-reading:before {
	content: "\e626";
}

.activicon-clubbing:before {
	content: "\e627";
}

.activicon-writing:before {
	content: "\e628";
}

.activicon-beach:before {
	content: "\e629";
}

.activicon-dog-walk:before {
	content: "\e62a";
}

.activicon-eating:before {
	content: "\e62b";
}

.activicon-poker:before {
	content: "\e62c";
}

.activicon-public-transport:before {
	content: "\e62d";
}

.activicon-praying:before {
	content: "\e62e";
}

.activicon-university:before {
	content: "\e62f";
}

.activicon-school:before {
	content: "\e630";
}

.activicon-tv:before {
	content: "\e631";
}

.activicon-grooming:before {
	content: "\e632";
}

.activicon-skiing:before {
	content: "\e633";
}

.activicon-downhill-skiing:before {
	content: "\e634";
}

.activicon-sleeping:before {
	content: "\e635";
}

.activicon-coffee:before {
	content: "\e636";
}

.activicon-snowboarding1:before {
	content: "\e637";
}

.activicon-football:before {
	content: "\e638";
}

.activicon-sports:before {
	content: "\e639";
}

.activicon-socializing:before {
	content: "\e63a";
}

.activicon-swimming:before {
	content: "\e63b";
}

.activicon-studying:before {
	content: "\e63c";
}

.activicon-sunbathing:before {
	content: "\e63d";
}

.activicon-talking:before {
	content: "\e63e";
}

.activicon-teaching:before {
	content: "\e63f";
}

.activicon-homework:before {
	content: "\e640";
}

.activicon-toiletting:before {
	content: "\e641";
}

.activicon-rowing:before {
	content: "\e642";
}

.activicon-boardgames:before {
	content: "\e643";
}

.activicon-training:before {
	content: "\e644";
}

.activicon-web-surfing:before {
	content: "\e645";
}

.activicon-cinema:before {
	content: "\e646";
}

.activicon-visit:before {
	content: "\e647";
}

.activicon-nordic-walking:before {
	content: "\e648";
}

.activicon-hiking:before {
	content: "\e649";
}

.activicon-walking:before {
	content: "\e64a";
}

.activicon-working:before {
	content: "\e64b";
}

.activicon-running:before {
	content: "\e600";
}

/* New (2) added for twitter and facebook */

.activicon-update-status:before {
	content: "\e800";
}
.activicon-share-retweet:before {
	content: "\e801";
}