{% extends "profile/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static 'profile/css/chosen.min.css' %}" rel="stylesheet" />
    <link href="{% static 'profile/css/bjqs.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'start-profile-wizard' %}">Customer profile wizard</a>
        </li>
    </ul>

    <h1>Create your profile in CloudTeams in a few steps!</h1>

    <form class="create-profile-form" action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% with p=form.instance %}
            <div class="page-container">
                <ul class="bjqs">
                    <li>
                        <h2>Intoduction</h2>
                        <div class="text-center">
                            <p>In this wizard you can complete information about your relatioship with different technologies.</p>
                            <p>Feel free leave empty any information you don't want to send us.</p>
                            <p>Click next to go to the next page & start the wizard.</p>
                        </div>
                    </li>
                    <li>
                        <div class="step" id="basic-info-step">
                            {% include "profile/steps/basic-info.html" %}
                        </div>
                    </li>

                    <li>
                        <div class="step" id="work-step">
                            {% include "profile/steps/work.html" %}
                        </div>
                    </li>

                    <li>
                        <div class="step" id="influences">
                            {% include "profile/steps/influences.html" %}
                        </div>
                    </li>

                    <li>
                        <div class="step" id="devices-and-platforms-step">
                            {% include "profile/steps/devices-and-platforms.html" %}
                        </div>
                    </li>

                    <li>
                        <div class="step" id="you-and-tech">
                            {% include "profile/steps/you-and-tech.html" %}
                        </div>
                    </li>

                    <li>
                        <div class="text-center">
                            <p>Thank you very much & have a nice time in CloudTeams!</p>
                            <input type="submit" class="btn btn-primary" value="Save my profile" />
                        </div>
                    </li>
                </ul>
            </div>
        {% endwith %}
        <!---->
    </form>

{% endblock %}

{% block js %}
    <script src="{% static 'profile/js/bjqs-1.3.min.js' %}"></script>
    <script src="{% static 'profile/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'profile/js/niceopts.js' %}"></script>
    <script src="{% static 'profile/js/start.js' %}"></script>
{% endblock %}