{% extends "profile/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Edit profile{% endblock %}

{% block extra_css %}
    <link href="{% static 'profile/css/chosen.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block dashboard_content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <img class="svg" src="{% static "img/icons/icon-profile.svg" %}">
                <h1 class="header-large">Edit profile</h1>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-save-msg pull-right"></div>

                <form class="create-profile-form" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% with p=form.instance %}
                        <div class="wizard-page-container">
                            <ul class="profile-wizard-paginator">
                                <li>
                                    <div class="step" id="basic-info-step">
                                        {% include "profile/steps/basic-info.html" %}
                                    </div>
                                </li>

                                <li>
                                    <div class="step" id="work-step">
                                        {% include "profile/steps/work.html" %}
                                    </div>
                                </li>

                                <li>
                                    <div class="step" id="influences">
                                        {% include "profile/steps/influences.html" %}
                                    </div>
                                </li>

                                <li>
                                    <div class="step" id="devices-and-platforms-step">
                                        {% include "profile/steps/devices-and-platforms.html" %}
                                    </div>
                                </li>

                                <li>
                                    <div class="step" id="you-and-tech">
                                        {% include "profile/steps/you-and-tech.html" %}
                                    </div>
                                </li>

                            </ul>

                            <a href="{% url 'view-my-profile' %}" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save</a>
                        </div>
                    {% endwith %}
                    <!---->
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'profile/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'profile/js/niceopts.js' %}"></script>
    <script src="{% static 'profile/js/brand-feedback.js' %}"></script>
    <script src="{% static 'profile/js/edit.js' %}?v=20160629.2"></script>
{% endblock %}