{% extends "profile/base.html" %}
{% load profile_tags %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Your profile{% endblock %}

{% block extra_css %}
    <link href="{% static 'profile/css/chosen.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block dashboard_content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <img class="svg" src="{% static "img/icons/icon-profile.svg" %}">
                <h1 class="header-large">Profile</h1>
            </div>
        </div>
    </header>

    <section class="user-profile-content">
        <header class="information">
            <div class="vertical-align">
                <div class="profile-picture col-xs-4 middle">
                    <div class="profile-avatar" {% if profile.profile_picture %}style="background-image:url({{profile.avatar}}); height: 100px;"{% endif %}></div>
                </div>

                <div class="information col-xs-8 middle">
                    <ul>
                        <li class="meta big">
                            <h2 class="header-large secondary">
                                <p class="name-age">
                                    {{ profile.first_name }} {% if profile.last_name_initial %} {{ profile.last_name_initial }} {% endif %}.
                                    {% if profile.year_of_birth %} ({{ profile.year_of_birth|age_from_birthyear }}) {% endif %}
                                </p>
                            </h2>
                        </li>

                        <li>
                            {{ request.user.email }}
                        </li>

                        {% if profile.user.location %}
                            <li>{{profile.user.location}}</li>
                        {% endif %}

                        <li>
                            {% with progress=profile.get_completion_progress %}
                                <div class="progress-container">
                                    <div class="progress-wrap" data-progress-percent="{{ progress|to_percent }}">
                                        <div class="progress-bar" style="width: {{ progress }}%;"></div>
                                    </div>
                                    <p class="percentage bold">{{ progress }}/100</p>
                                </div>
                            {% endwith %}
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container profile-view">

            <div class="row">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-building-o fa-4x"></i>
                        </div>
                        <div class="col-md-10">
                            {% if profile.business_sector or profile.work_position or profile.work_location or profile.years_experience %}
                                Works {% if profile.business_sector %} in {{profile.business_sector}} {% endif %}
                                {% if profile.work_position %} as a {{profile.work_position}} {% endif %}
                                {% if profile.years_experience %} for {{profile.years_experience}} years {% endif %}.<br />
                                {% if profile.work_location %}
                                    Work location: {{profile.work_location}} <br />
                                {% endif %}

                                <a href="{% url 'start-profile-wizard' %}#work-step"><i class="fa fa-pencil"></i> Update work information</a>
                            {% else %}
                                No work information<br />
                                <a href="{% url 'start-profile-wizard' %}#work-step"><i class="fa fa-plus"></i> Add work information</a>
                            {% endif %}
                        </div>
                    </div>

                    <h4>You & tech</h4>

                            <h5>Influences</h5>
                            {% with influence_list=profile.user.influences.all %}
                                {% if influence_list %}
                                    <p>Regarding technology, you're influenced by: <a href="{% url 'start-profile-wizard' %}#influences" class="inline-edit"><i class="fa fa-pencil"></i> Edit</a></p>
                                    <div><div class="inline-row">
                                        <select id="influences-view">
                                            {% for influence in influence_list %}
                                                <option value="{{influence.influence}}">{{influence.influence}}</option>
                                            {% endfor %}
                                        </select>
                                    </div></div>
                                {% else %}
                                    <p><a href="{% url 'start-profile-wizard' %}#influences"><i class="fa fa-plus"></i> What influences you when it comes to technology?</a></p>
                                {% endif %}
                            {% endwith %}

                            <h5>Devices</h5>
                            {% with device_list=profile.user.devices.all %}
                                {% if device_list %}
                                    <p>You're using the following devices: <a href="{% url 'start-profile-wizard' %}#devices-and-platforms-step" class="inline-edit"><i class="fa fa-pencil"></i> Edit</a></p>
                                    <div><div class="inline-row">
                                        <select id="devices-view">
                                            {% for device_usage in device_list %}
                                                <option value="{{device_usage.device}}">{{device_usage.device}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>
                                {% else %}
                                    <p><a href="{% url 'start-profile-wizard' %}#devices-and-platforms-step"><i class="fa fa-plus"></i> What devices are you using?</a></p>
                                {% endif %}
                            {% endwith %}

                            <h5>Platforms</h5>
                            {% with platform_list=profile.user.platforms.all %}
                                {% if platform_list %}
                                    <p>You're using the following platforms : <a href="{% url 'start-profile-wizard' %}#devices-and-platforms-step" class="inline-edit"><i class="fa fa-pencil"></i> Edit</a></p>
                                    <div><div class="inline-row">
                                        <select id="platforms-view">
                                            {% for platform_usage in platform_list %}
                                                <option value="{{platform_usage.platform}}">{{platform_usage.platform}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>
                                {% else %}
                                    <p><a href="{% url 'start-profile-wizard' %}#devices-and-platforms-step"><i class="fa fa-plus"></i> What platforms are you using?</a></p>
                                {% endif %}
                            {% endwith %}

                            <h5>Your tech level</h5>
                            {% if profile.tech_level %}
                                <p>You're overall tech level: <a href="{% url 'start-profile-wizard' %}#you-and-tech" class="inline-edit"><i class="fa fa-pencil"></i> Edit</a></p>
                                <p><span class="geek-level">{{profile.tech_level}}</span></p>
                            {% else %}
                                <p><a href="{% url 'start-profile-wizard' %}#you-and-tech"><i class="fa fa-plus"></i> What's your overall tech level?</a></p>
                            {% endif %}

                    {% include "profile/brand-opinion/feedback.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'profile/js/niceopts.js' %}"></script>
    <script src="{% static 'profile/js/brand-feedback.js' %}"></script>
    <script src="{% static 'profile/js/view.js' %}?v=20160628.2"></script>
{% endblock %}