{% extends "base.html" %}
{% load profile_tags %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Change your password | CloudTeams{% endblock %}

{% block content %}
    {% if password_change_success %}
        <h2>Password updated!</h2>
        <p>Your password has now changed. Click <a href="/profile/">here</a> to go to your CloudTeams profile.</p>
    {% else %}
        <h2>Change password</h2>

        <p></p>
        <form action="." method="POST">{% csrf_token %}
            {% if error %}
                <ul class="errorlist">
                    <li>{{ error }}</li>
                </ul>
            {% endif %}

            <label for="id_current_password" class="header-medium secondary">Current password</label>
            <input type="password" id="id_current_password" name="current_password" placeholder="Enter your current password" />

            <label for="id_new_password" class="header-medium secondary">New password</label>
            <input type="password" id="id_new_password" name="new_password" placeholder="Enter your new password" />

            <label for="id_new_password_repeat" class="header-medium secondary">New password (again)</label>
            <input type="password" id="id_new_password_repeat" name="new_password_repeat" placeholder="Enter your new password again" />

            <input style="margin-top: 20px" type="submit" class="btn btn-primary" value="Change my password">
        </form>
    {% endif %}
{% endblock %}