{% extends "base_non_authenticated.html" %}
{% load staticfiles %}

{% block content %}
				<div class="login-box">
                    <div align="center">
                        {% if verification_successful %}
                        <p style="color:green">You have successfully verified your e-mail address! You will be redirected in a jiffy</p>
                        <script>setTimeout(function(){ window.location = '{% url 'login' %}'; }, 4000);</script>
                        {% else %}
                        <p style="color:red">Verification failed. Make sure you have visited the correct URL.</p>
                        {% endif %}
                        <p>Back to <a href="{% url 'login' %}">Login page</a></p>
                    </div>
				</div><!--/span-->
{% endblock %}
