{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block content %}

    <div class="box span12 blueNavy">
        <div class="box-header blueNavy" data-original-title>
            <h2 align="center"><i class="halflings-icon search white"></i><span class="break"></span>Available Activities</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead class="goal-header">
                    <tr>
                      <th>Activity Name</th>
                      <th>Short Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in activity_list %}
                <tr>
                    <td class="center">{{ activity.activity_name }}</td>
                    <td class="center">{{ activity.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock  %}
