{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
    <link href="{% static 'activitytracker/css/analytics-extra.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/daterangepicker-bs2.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/slider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'index' %}">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Analytics</a></li>
                    <li><i class="icon-angle-right"></i><a href="#">Places</a></li>
                </ul>
                <!-- content  -->
                <div class="span7 analytics-filters-container">
                    <h1>Location Analytics Filters</h1>
					<div class="span5" style="margin-bottom:1%">
						Pick a date range:
						<input type='text' id="dateRange" value="" name="dateRange"/>
					</div>
					<div class="span5" style="margin-bottom:2%">
						Select a Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select data-placeholder="Filter by Place" data-rel="chosen" id="place-select" name="place-select" class="analytics-filter">
                            {% for place in places_data %}
							<option>{{ place }}</option>
                        	{% endfor %}
                            <option value="Everywhere else">Everywhere else</option>
						</select>
                        <label for="allPlacesChecked" class="checkbox inline">or all:</label>
                        <input type="checkbox" checked id="allPlacesChecked"  />
					</div>
                	<div class="span5" style="margin-bottom:2%;padding-top:1.7%">
						Select a Radius:&nbsp;&nbsp;&nbsp;
                        <div style="margin-left:2.5%;display:inline">
                            0.5&nbsp;&nbsp;&nbsp;
						    <input id="radius-select" class="analytics-filter" data-slider-id='places-slider' type="text"/>
                            &nbsp;&nbsp;&nbsp;20
                        </div>
                    </div>
                	<div class="span5" style="margin-bottom:2%;margin-top:1%">
						Select a Metric:&nbsp;&nbsp;&nbsp;&nbsp;
						<select id="metric-select" name="metric-select" style="margin-left:8.5%;position:relative;top:5px;width: 41.5% !important;">
                            <option>Number of Instances</option>
                            <option selected="selected">Time elapsed (in Hours)</option>
						</select>
					</div>
                </div>
                <div class="span4 analytics-banner" id="total-analytics">
                    <div style="padding:5%;">
						<p align="center" id="date-range-total-analytics"></p>
                        <div class="row-fluid">
                            <span>
                                <span id="totalActivitiesLabel">Total Activities performed:</span>
                            </span>
                            <span>
                                <p><span id="totalActivities"></span>&nbsp;&nbsp;<i class="icon-star"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalActivitiesNearPlacesLabel">Total Activities done with Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalActivitiesNearPlaces"></span>&nbsp;&nbsp;<i class="icon-globe"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalParticipationNearPlacesLabel">Total Participation of Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalParticipationNearPlaces"></span>&nbsp;&nbsp;<i class="icon-globe"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalTimeNearPlacesLabel">Total Time spent with Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalTimeNearPlaces"></span>&nbsp;&nbsp;<i class="icon-time"></i></p>
							</span>
                        </div>
					</div>
                </div>
            	<div class="span7 analytics-topChart "><h1 style="margin-left:20%"></h1></div>
                <div class="span7"><h1 style="margin-left:22%;margin-bottom:40px">Activity Pinpoint Display</h1></div>
                <div class="span7 map-canvas" id="map-canvas" style="height:400px;margin-bottom:100px;"></div>
				<div class="span7 analytics-bottomChart "><h1 style="margin-left:22%;margin-bottom:40px"></h1></div>
{% endblock %}

{% block js %}
    <script src="{% static 'activitytracker/js/moment.js' %}"></script>
	<script src="{% static 'activitytracker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-places.js' %}"></script>
{% endblock %}