{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'index' %}">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Analytics</a></li>
                    <li><i class="icon-angle-right"></i><a href="#">Friends</a></li>
                </ul>
                <!-- content -->
                <div class="span7 analytics-filters-container">
                    <h1>Social Analytics Filters</h1>
					<div class="span5" style="margin-bottom:1%;">
						Pick a date range:
						<input type='text' id="dateRange" value="" name="dateRange" />
					</div>
					<div class="span5" style="margin-bottom:2%;">
						Select an Activity:
						<select data-placeholder="Filter by Activity" data-rel="chosen" id="activity-select" name="activity-select" class="analytics-filter">
                            {% for category,list in activity_data.items %}
                            <optgroup label="{{ category }}">
                                {% for name in list %}
							  <option>{{ name }}</option>
							  	{% endfor %}
							</optgroup>
                        	{% endfor %}
						</select>
                        <label for="allActivitiesChecked" class="checkbox inline">or all:</label>
                        <input type="checkbox" checked id="allActivitiesChecked"  />
					</div>
                	<div class="span5" style="margin-bottom:2%;">
						Select a Friend:&nbsp;&nbsp;&nbsp;
						<select data-placeholder="Filter by Friend" data-rel="chosen" id="friend-select" name="friend-select" class="analytics-filter">
                        	<option value='' selected >Alone/Without any Friend</option>
                            {% for friend in friend_data %}
                            <option>{{ friend }}</option>
                            {% endfor %}
						</select>
                        <label for="allFriendsChecked" class="checkbox inline">or all:</label>
                        <input type="checkbox" checked id="allFriendsChecked"  />
					</div>
                	<div class="span5" style="margin-bottom:2.1%;">
						Select a Metric:&nbsp;&nbsp;&nbsp;&nbsp;
						<select   id="metric-select" name="metric-select">
                            <option>Number of Instances</option>
                            <option selected="selected">Time elapsed (in Hours)</option>
						</select>
					</div>
                </div>
                <div class="span4 analytics-banner" id="total-analytics">
                    <div style="padding:5%;">
						<p align="center" id="date-range-total-analytics"></p>
                        <div class="row-fluid">
                            <span>
                                <span id="totalActivitiesLabel">Total Activities performed:</span>
                            </span>
                            <span>
                                <p><span id="totalActivities"></span>&nbsp;&nbsp;<i class="icon-star"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalActivitiesWithFriendsLabel">Total Activities done with Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalActivitiesWithFriends"></span>&nbsp;&nbsp;<i class="icon-group"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalParticipationOfFriendsLabel">Total Participation of Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalParticipationOfFriends"></span>&nbsp;&nbsp;<i class="icon-group"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                <span id="totalTimeWithFriendsLabel">Total Time spent with Friends:</span>
                            </span>
                            <span>
                                <p><span id="totalTimeWithFriends"></span>&nbsp;&nbsp;<i class="icon-time"></i></p>
							</span>
                        </div>
					</div>
                </div>
            	<div class="span7 analytics-topChart "><h1 style="margin-left:25%"></h1></div>
				<div class="span7 analytics-bottomChart "><h1 style="margin-left:20%"></h1></div>
{% endblock %}

{% block js %}
	<script src="{% static 'activitytracker/js/moment.js' %}"></script>
	<script src="{% static 'activitytracker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>

    <script src="{% static 'activitytracker/js/analytics-friends.js' %}"></script>
{% endblock %}