{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
    <link href="{% static 'activitytracker/css/analytics-extra.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/daterangepicker-bs2.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/slider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'index' %}">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Analytics</a></li>
                    <li><i class="icon-angle-right"></i><a href="#">Friends</a></li>
                </ul>
                <!-- content -->
                <div class="span7 analytics-filters-container">
                    <h1>Routine Analytics Filters</h1>
					<div class="span5" style="margin-bottom:2%;">
						Pick a date range:
						<input type='text' id="dateRange" value="" name="dateRange" />
					</div>

                    {% for activity, activity_data in routineActivities.iteritems %}

                        {% if forloop.counter0|divisibleby:5 %}<div class="span5 routine-canvas">{% endif %}

                            <div class='routine-container' id="{{ activity|addDashes }}">
                                <a title="{{ activity }}" class="quick-button metro circle routine-activity {{ activity_data.color }}">
                                    <i class="activicon-{{ activity_data.icon_classname }}"></i>
                                </a>
                                <input name="routine-radiobutton" checked type="radio" value="{{ activity }}" onchange="updateRoutineCharts()"/>
                            </div>
                        {% if forloop.counter|divisibleby:5 %} </div> {% endif %}

                    {% endfor %}

                    {% if not routineActivities|length|divisibleby:5 %} </div> {% endif %}

                    <div class="span5">
                        <table style="border-collapse: initial;border-spacing: 10px 20px;">
                            <tr>
                                <td>
                                    Select a Daytype:&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <label for="Weekdays">Weekdays</label>
                                    <input type="radio" name="daytype" id='Weekdays' value="Weekdays"/>
                                </td>
                                <td>
                                    <label for="Weekend">Weekends</label>
                                    <input type="radio" name="daytype" value="Weekend" id="Weekend"/>
                                </td>
                                <td>
                                    <label for="Full-Week">Full Week</label>
                                    <input type="radio" checked name="daytype" value="Weekdays,Weekend" id="Full-Week"/>

                                </td>
                            </tr>
                        </table>
                    </div>
                	<div class="span5">
						<table style="border-collapse: initial;border-spacing:10px ">
                            <tr>
                                <td>
                                    Select a Metric:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <label for="instances-metric">Instances</label>
                                    <input type="radio" name="metric" value="instances" id="instances-metric"/>
                                </td>
                                <td>
                                    <label for="hours-metric">&nbsp;&nbsp;&nbsp;Hours</label>
                                    <input type="radio" checked name="metric" value="hours" id='hours-metric'/>
                                </td>
                            </tr>
                        </table>
					</div>
                </div>
                <div class="span4 analytics-banner" id="total-analytics">
                    <div style="padding:5%;">
						<p align="center" id="date-range-total-analytics"></p>
                        <div class="row-fluid">
                            <span>
                                Total Background Actions performed
                            </span>
                            <span >
                                <p><span id="totalActions"></span>&nbsp;&nbsp;<i class="icon-star"></i></p>
							</span>
                        </div>
                        <div class="row-fluid">
                            <span>
                                Percentage of Overlapping Actions
                            </span>
                            <span >
                                <p><span id="actionOverlapPercentage"></span>&nbsp;&nbsp;<i class="icon-star"></i></p>
							</span>
                        </div>
                        <div class="row-fluid" style="margin-bottom:5%">
                            <span>
                                Total Hours of Overlapping Actions
                            </span>
                            <span >
                                <p><span id="totalTimeShared"></span>&nbsp;&nbsp;<i class="icon-time"></i></p>
							</span>
                        </div>
					</div>
                </div>
            	<div class="span7 analytics-topChart "><h1 style="margin-left:25%"></h1></div>
{% endblock %}

{% block js %}
    <script src="{% static 'activitytracker/js/moment.js' %}"></script>
	<script src="{% static 'activitytracker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-routine.js' %}"></script>
{% endblock %}