{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
    <link href="{% static 'activitytracker/css/analytics-extra.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Friends</a></li>
                </ul>
                <!-- content -->
                <div class="col-sm-6 col-xs-12 analytics-filters-container text-center">
                    <h1>Social Analytics Filters</h1>
                    <div class="col-xs-12">
                        <div class="col-sm-4">
                            <label for="dateRange">Pick a date range:</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type='text' id="dateRange" value="" name="dateRange" class="daterange form-control input-md"/>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-4">
                            <label for="activity-select">Select Activity:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <select data-placeholder="Filter by Activity" data-rel="chosen" id="activity-select" name="activity-select" class="analytics-filter form-control input-md">
                                {% for category,list in activity_data.items %}
                                <optgroup label="{{ category }}">
                                    {% for name in list %}
                                  <option>{{ name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2 analytics-checkbox">
                            <label for="allActivitiesChecked">all:</label>
                            <input type="checkbox" checked id="allActivitiesChecked"  />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-4">
                            <label for="friend-select">Select Friend:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <select data-placeholder="Filter by Friend" data-rel="chosen" id="friend-select" name="friend-select" class="analytics-filter input-md form-control">
                                <option value='' selected >Alone/Without any Friend</option>
                                {% for friend in friend_data %}
                                <option>{{ friend }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2 analytics-checkbox">
                            <label for="allFriendsChecked">all:</label>
                            <input type="checkbox" checked id="allFriendsChecked"  />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-4">
                            <label for="metric-select">Select Metric:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <select id="metric-select" name="metric-select" class="form-control input-md">
                                <option selected="selected">Number of Instances</option>
                                <option >Time elapsed (in Hours)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 analytics-banner" id="total-analytics">
                    <div class="row">
						<p class="text-center" id="date-range-total-analytics"></p>
                        <div class="col-xs-12">
                            <div class="col-xs-8" id="totalActivitiesLabel">Total Activities performed:</div>
                            <div class="col-xs-4 banner-analytic">
                                <span id="totalActivities"></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-8" id="totalActivitiesWithFriendsLabel">Total Activities done with Friends:</div>
                            <div class="col-xs-4 banner-analytic">
                                <span id="totalActivitiesWithFriends"></span>
                                <span><i class="fa fa-group"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-8" id="totalParticipationOfFriendsLabel">Total Participation of Friends:</div>
                            <div class="col-xs-4 banner-analytic">
                                <span id="totalParticipationOfFriends"></span>
                                <span><i class="fa fa-group"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-8" id="totalTimeWithFriendsLabel">Total time spent with Friends:</div>
                            <div class="col-xs-4 banner-analytic">
                                <span id="totalTimeWithFriends"></span>
                                <span><i class="fa fa-time"></i></span>
                            </div>
                        </div>
					</div>
                </div>
            	<div class="col-xs-12 text-center analytics-topChart "><h1></h1></div>
				<div class="col-xs-12 text-center analytics-bottomChart "><h1></h1></div>
{% endblock %}

{% block js %}
	<script src="{% static 'activitytracker/js/moment.js' %}"></script>
	<script src="{% static 'activitytracker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-friends.js' %}"></script>
{% endblock %}