{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}

{% block css %}
    <link href="{% static 'activitytracker/css/slider.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.css" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

    <style>
        .ui-datepicker-year{
            display:none;
        }
    </style>
{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li><a href="#">Configuration</a></li>
    </ul>

    <div class='row'>
        <div class="dashboardWrapper col-sm-10 col-sm-offset-1 blue-black">
            <div class="box-header blueNavy" data-original-title>
                <h2 class="text-center"><i class="halflings-icon map-marker white"></i><span class="break"></span>Personal Places</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting header-font-white" data-toggle="modal" data-target="#addPlaceModal"><i class="halflings-icon white plus"></i>add a place</a>
                </div>
            </div>
            <div class="box-content">
                <table id="PlacesTable" class="col-xs-12 user-places">
                    <thead class="places-header">
                        <tr>
                            <th>Place Name</th>
                            <th>Place Address</th>
                            <th class="never">Hidden Lat</th>
                            <th class="never">Hidden Lng</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- data from dataTables -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="dashboardWrapper col-sm-10 col-sm-offset-1 blue-black">
            <div class="box-header blueNavy" data-original-title>
                <h2 class="text-center"><i class="halflings-icon calendar white"></i><span class="break"></span>Daily Schedule Management</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting header-font-white" data-toggle="modal" data-target="#routineModal"><i class="halflings-icon white plus"></i>add a routine</a>
                </div>
            </div>
            <div class="box-content">
                <table id="RoutineTable" class="col-xs-12 user-routine">
                    <thead class='goal-header'>
                        <tr>
                          <th>Activity</th>
                          <th>Title</th>
                          <th>Weekdays</th>
                          <th>Weekend</th>
                          <th class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for activity, activity_data in routineActivities.items %}

                            <tr id="{{ activity|addDashes }}">

                                <td>
                                    <a class="routine-quick-icon routine-activity {{ activity_data.color }}">
                                        <i class="activicon-{{ activity_data.icon_classname }}"></i>
                                    </a>
                                </td>

                                <td>{{ activity }}</td>

                                <td>
                                    {% for log in activity_data.Weekdays %}
                                        <span class='routine-time'>{{ log.time }}</span>
                                        {% if log.time != ' - '%}
                                            <br/>
                                            ( <span class='routine-season'>{{ log.season }}</span> )
                                        {% endif %}
                                        <br/><br/>
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for log in activity_data.Weekend %}
                                        <span class='routine-time'>{{ log.time }}</span>
                                        {% if log.time != ' - '%}
                                            <br/>
                                            ( <span class='routine-season'>{{ log.season }}</span> )
                                        {% endif %}
                                        <br/><br/>
                                    {% endfor %}
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-blueNavy user-routine-options" href="#" onclick="initializeEditRoutineModal(this)">
                                        <i class="halflings-icon edit white"></i>
                                    </a>
                                    <a class="btn btn-blueNavy user-routine-options" href="#" onclick="deleteRoutine(this)">
                                        <i class="halflings-icon trash white"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
    <!-- Modal to add another place to your account -->
    <div class="modal fade" id="addPlaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header blueNavy">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2><i class="halflings-icon map-marker white"></i><span class="break" ></span>Add a new place</h2>
                </div>
                <form action="{% url 'places' %}" method="post" id="addPlaceForm" name="addPlaceForm">
                    {% csrf_token %}
                    <div class="modal-body row">
                        <h3 class="text-center col-xs-12">First, give this place a nickname:</h3>
                        <br/>
                        <div class="left-inner-addon col-xs-8 col-xs-offset-2">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <input class="input-lg form-control" name="placename" type="text" placeholder="Home, Work, etc"/>
                        </div>

                        <h3 class="text-center col-xs-12">Then find it by giving the address in the map below:</h3>
                        <br/>
                        <div class="col-xs-10 col-xs-offset-1">
                            <input id="places-input" class="map-controls places-input" type="text" placeholder="Search for Places">
                            <div id="map-canvas" class="map-canvas"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-blueNavy" data-dismiss="modal">Cancel</a>
                        <input type="button" class="btn btn-blueNavy" name="submitAddPlace" id="submitAddPlace" value="Add Place">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal to add another place to your account -->
    <div class="modal fade" id="editPlaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header blueNavy">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2><i class="halflings-icon map-marker white"></i><span class="break" ></span>Edit your place</h2>
                </div>
                <form action="{% url 'places' %}" method="post" id="editPlaceForm" name="editPlaceForm">
                    {% csrf_token %}
                    <div class="modal-body row">
                        <h3 class="col-xs-12 text-center">Optionally modify the name:</h3>
                        <br/>
                        <div class="left-inner-addon col-xs-8 col-xs-offset-2">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <input class="input-lg form-control" name="placename" type="text" placeholder="Home, Work, etc"/>
                        </div>

                        <h3 class="text-center col-xs-12">Or change the location of the place:</h3>
                        <br/>
                        <div class="left-inner-addon col-xs-10 col-xs-offset-1">
                            <input id="places-input-2" class="map-controls places-input" type="text" placeholder="Search for Places">
                            <div id="map-canvas-2" class="map-canvas"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-blueNavy" data-dismiss="modal">Cancel</a>
                        <input type="button" class="btn btn-blueNavy" name="submitEditPlace" id="editPlaceModalConfirm" value="Update Place">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal to Delete a Place -->
    <div class="modal fade" id="deletePlaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header blueNavy">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2><i class="halflings-icon map-marker white"></i><span class="break" ></span>Delete place</h2>
                </div>
                <div class="modal-body text-center">
                    <h3>Are you sure you want to delete this place?</h3>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blueNavy" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-danger" name="submitDelete" id="deletePlaceModalConfirm" value="Delete">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to modify user's daily schedule -->
    <div class="modal fade" id="routineModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="#" name="routineForm" id="routineForm">
                    <div class="modal-header box-header blueNavy">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h2><i class="halflings-icon map-marker white"></i><span class="break" ></span>Organize your Daily Schedule</h2>
                    </div>
                    <div class="modal-body row" style="padding:35px">

                        <h3 class='col-xs-12 text-center'>Tell us a bit about your habits</h3>
                        <hr>
                        <div class="routine-canvas col-xs-10 col-xs-offset-2">

                            {% for activity, activity_data in routineActivities.iteritems %}

                                <div class='col-xs-2' id="{{ activity|addDashes }}">
                                    <a title="{{ activity }}" class="routine-quick-icon routine-activity {{ activity_data.color }}">
                                        <i class="activicon-{{ activity_data.icon_classname }}"></i>
                                    </a>
                                    <input name="routine-radiobutton" id="{{ activity }}-radio" type="radio" class="radio center" value="{{ activity }}"/>
                                </div>

                            {% endfor %}
                        </div>

                        {% for extra_activity in routineExtraActivities%}

                            {% if forloop.counter0|divisibleby:5 %}
                                <div class="hidden routine-canvas routine-canvas-show-more col-xs-10 col-xs-offset-2">
                            {% endif %}

                                <div class="col-xs-2" id="{{ extra_activity.activity|addDashes }}">
                                    <a title="{{ extra_activity.activity }}" class="routine-quick-icon {{ extra_activity.color }}">
                                        <i class="activicon-{{ extra_activity.icon_classname }}"></i>
                                    </a>
                                    <input name="routine-radiobutton" id="{{ activity }}-radio" type="radio" class="radio center" value="{{ extra_activity.activity }}"/>
                                </div>
                            {% if forloop.counter|divisibleby:5 %} </div> {% endif %}

                        {% endfor %}
                        {% if not routineExtraActivities|length|divisibleby:5 %} </div> {% endif %}

                        <div class="col-xs-12 text-center">
                            <a href='#' class='underlined-link' id="routineInsertMore" onclick="routineInsertMore()">Show More</a>
                        </div>
                        <div class="left-inner-addon weekday-controls col-xs-8 col-xs-offset-2" style="margin-top:35px">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <input id="weekday-times" type='text' class="input-lg form-control tokenfield" name="weekday-times" placeholder="Slide & Log">
                        </div>
                        <div class="col-xs-12 text-center">
                            <span id="weekday-range-from">08:00</span>&nbsp;&nbsp;&nbsp;
                            <input id="weekday-range-select" data-slider-id="weekday-slider" type="text">
                            &nbsp;&nbsp;&nbsp;<span id="weekday-range-to">17:15</span>
                        </div>
                        <div class="col-xs-12 text-center">
                            <input type="button" id="log-weekday-time" value="Log time" class="btn btn-blueNavy"/>
                        </div>
                        <div id='weekend-controls' class="routine-controls col-xs-12">
                            <div class="controls-title text-center col-xs-12">
                                <label for="weekend">Weekends</label>
                                <a href="#"><i id='weekend' class="icon-chevron-down"></i></a>
                            </div>
                            <div class="controls hidden weekend-input row" style="margin-top:35px">
                                <div class="left-inner-addon col-xs-8 col-xs-offset-2">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <input id="weekend-times"  placeholder="Slide & Log Times" class="input-lg form-control tokenfield" name="weekend-times"/>
                                </div>
                                <div class='text-center col-xs-12'>
                                    <span id="weekend-range-from">08:00</span>
                                    &nbsp;&nbsp;&nbsp;
                                    <input id="weekend-range-select" data-slider-id="weekend-slider" type="text">
                                    &nbsp;&nbsp;&nbsp;
                                    <span id="weekend-range-to">17:15</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <input type="button" id="log-weekend-time" name='range-logger' value="Log time" class="btn btn-blueNavy"/>
                                </div>
                            </div>
                        </div>
                        <div id='seasonality-controls' class="routine-controls col-xs-12">
                            <div class="text-center col-xs-12">
                                <label for="seasonality">Seasonalities</label>
                                <a href="#"><i id='seasonality' class="icon-chevron-down"></i></a>
                            </div>
                            <div class="controls seasonality-input hidden diversification-border row">
                                <div class="left-inner-addon col-xs-6">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input placeholder="Weekday season start..." type="text" name="weekday_seasonality_start" class="datepicker form-control input-lg">
                                </div>
                                <div class="left-inner-addon col-xs-6">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input placeholder="Weekday season end..." type="text" name="weekday_seasonality_end" class="datepicker form-control input-lg">
                                </div>
                            </div>
                            <div class="controls seasonality-input hidden row">
                                <div class="left-inner-addon col-xs-6">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input placeholder="Weekend season start..." type="text" name="weekend_seasonality_start" class="datepicker form-control input-lg">
                                </div>
                                <div class="left-inner-addon col-xs-6">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input placeholder="Weekend season end..." type="text" name="weekend_seasonality_end" class="datepicker form-control input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <a href="#" class="btn btn-blueNavy" data-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-blueNavy" id="submitRoutine" value="add">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="{% static 'bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-configuration.js' %}"></script>
{% endblock %}