{% extends "dashboard/base.html" %}

{% block title %}CloudTeams | My Activities{% endblock %}
{% load custom_templates %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'activitytracker/css/analytics-extra.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/style-responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block dashboard_content %}

    <h1 class="header-large text--white text-center margin-vertical-5">Activity Overview</h1>

    {% include 'activitytracker/providers.html' %}

    <div id="carousel-providers" class="carousel carousel-dashboard slide col-xs-12 dashboardWrapper margin-top-5" data-ride="carousel" data-interval="false">
        <div class="carousel-inner padding-bottom-5" role="listbox">
            <ol class="carousel-indicators">
                <li data-target="#carousel-providers" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-providers" data-slide-to="1"></li>
            </ol>
            <div class="item active">
                <div class="col-xs-12">
                    <h4 class="text-center margin-vertical-5">Activity Info for the Last 7 Days</h4>
                    <div class="col-sm-6 ">
                         <div class="info-box text-center">
                             <span class="info-box-icon">
                                 <span class="fa fa-tasks show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Total</div>
                                 <div class="info-box-text">{{ period_total_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-cloud-download show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Synced</div>
                                 <div class="info-box-text">{{ period_tracked_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-flag show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Unique</div>
                                 <div class="info-box-text">{{ period_total_different_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-clock-o show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Minutes</div>
                                 <div class="info-box-text">{{ period_total_minutes|floatformat }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-map-marker show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Places</div>
                                 <div class="info-box-text">{{ period_activities_with_location }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-user show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">with</div>
                                 <div class="info-box-text">{{ period_activities_with_friends }}</div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12">
                    <h4 class="text-center margin-vertical-5">Lifetime Activity Info</h4>
                    <div class="col-sm-6">
                         <div class="info-box text-center">
                             <span class="info-box-icon">
                                 <span class="fa fa-tasks show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Total</div>
                                 <div class="info-box-text">{{ total_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-cloud-download show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Synced</div>
                                 <div class="info-box-text">{{ total_tracked_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-flag show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Unique</div>
                                 <div class="info-box-text">{{ total_different_activities }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-clock-o show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Minutes</div>
                                 <div class="info-box-text">{{ total_minutes|floatformat }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-map-marker show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">Places</div>
                                 <div class="info-box-text">{{ total_activities_with_location }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="info-box">
                             <span class="info-box-icon">
                                 <span class="fa fa-user show-dashboard-glyphicon" aria-hidden="true"></span>
                             </span>
                             <div class="info-box-content text-center">
                                 <div class="info-box-title">with</div>
                                 <div class="info-box-text">{{ total_activities_with_friends }}</div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel-categories" class="col-xs-12 dashboardWrapper margin-top-5">
        <h4 class="margin-vertical-5 text-center">Activity Intensity Comparison</h4>
        <div id="ActivitiesInstanceChart" class="margin-vertical-5" style="height: 225px;"></div>
    </div>

    <div class="col-xs-12 dashboardWrapper margin-top-5">
        <div class="col-xs-12 margin-bottom-5">
            <h4 class="text-center margin-vertical-5">Lifetime Service Contribution</h4>
            <div id="ProviderActivitiesLifetimeChart" class="bs-height-config" style="height: 225px;"></div>
        </div>
    </div>

    <div class="col-xs-12 dashboardWrapper margin-top-5" style="display: none">
        <div id="carousel-activities" class="col-xs-12">
            <h4 class="text-center margin-vertical-5">Last week's Top 10 Activities</h4>
            <div id="Top10ActivitiesInstanceChart" class="margin-vertical-5 bs-height-config" style="height: 225px;"></div>
        </div>
    </div>

    <div class="col-xs-12 dashboardWrapper margin-top-5">
        <h4 class="margin-vertical-5 text-center">LifeTime Activities</h4>
        <div id="all-activities-chart" class="margin-vertical-5" style="height: 225px;"></div>
    </div>

    <div class="col-xs-12 map-canvas dashboardWrapper margin-vertical-5" style="height:325px" id="map-canvas"></div>

    <div class="col-xs-12 margin-vertical-5" style="padding-right: 0;">
        <a class="btn secondary pull-right" href="/activitytracker/calendar/"><i class="fa fa-calendar"></i> Open my calendar</a>
    </div>

    <script>chart_data = {{ chart_data|safe }};</script>
    <script>top_activities_chart_data_by_instance = {{ top_activities_chart_data_by_instance|safe }};</script>
    <script>top_activities_chart_data_by_duration = {{ top_activities_chart_data_by_duration|safe }};</script>
    <script>period_provider_activities = {{ provider_7day_activities_data|safe }};</script>
    <script>lifetime_provider_activities = {{ provider_lifetime_activities_data|safe }};</script>
    <script>day_order = {{ day_order|safe }};</script>

{% endblock %}

{% block modals %}
    <div class="modal fade" id="showActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">
            {#  Data will be fed remotely through display-activity.html template #}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'activitytracker/js/counter.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.knob.modified.js' %}"></script>
    <script src="{% static 'activitytracker/js/moment.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
    <script src="{% static 'activitytracker/js/settings.js' %}?v=20170118.1"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/dashboard.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-activities.js' %}"></script>
    <script src="{% static 'activitytracker/js/analytics-places.js' %}"></script>
{% endblock %}