{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
    <link href="{% static 'activitytracker/css/analytics-extra.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/style-responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <ul class="breadcrumb hidden-xs">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>

    <div class="col-md-6 text-center dashboardWrapper">


        <div class="dashboardTitle">Weekly Breakdown of Activity Categories</div>

        {% for category, category_data in current_week_category_data.items %}
            <div class="col-md-4 col-xs-4 circleStatsContainer ">
                <div class="circleStatsItemBox {{ category_data.color }}">
                    <div class="header">{{ category }}</div>
                    <span class="percent">percent</span>
                    <div class="circleStat">
                        <input type="text" value="{{ category_data.percentage }}" class="whiteCircle" />
                    </div>
                    <div class="footer">
                        <span class="count">
                            <span class="number">{{ category_data.count }}</span>
                            <span class="unit">Activities</span>
                        </span>
                        <span class="sep"> / </span>
                        <span class="value">
                            <span class="number">{{ current_week_total_activities }}</span>
                            <span class="unit">Activities</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}

{#        <div class="col-md-4 col-xs-4 circleStatsContainer">#}
{#            <div class="circleStatsItemBox pink">#}
{#                <div class="header">CPU</div>#}
{#                <span class="percent">percent</span>#}
{#                <div class="circleStat">#}
{#                    <input type="text" value="83" class="whiteCircle" />#}
{#                </div>#}
{#                <div class="footer">#}
{#                    <span class="count">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                    <span class="sep"> / </span>#}
{#                    <span class="value">#}
{#                        <span class="number">3.2</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4 col-xs-4 circleStatsContainer">#}
{#            <div class="circleStatsItemBox pink">#}
{#                <div class="header">CPU</div>#}
{#                <span class="percent">percent</span>#}
{#                <div class="circleStat">#}
{#                    <input type="text" value="83" class="whiteCircle" />#}
{#                </div>#}
{#                <div class="footer">#}
{#                    <span class="count">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                    <span class="sep"> / </span>#}
{#                    <span class="value">#}
{#                        <span class="number">3.2</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4 col-xs-4 circleStatsContainer">#}
{#            <div class="circleStatsItemBox pink">#}
{#                <div class="header">CPU</div>#}
{#                <span class="percent">percent</span>#}
{#                <div class="circleStat">#}
{#                    <input type="text" value="83" class="whiteCircle" />#}
{#                </div>#}
{#                <div class="footer">#}
{#                    <span class="count">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                    <span class="sep"> / </span>#}
{#                    <span class="value">#}
{#                        <span class="number">3.2</span>#}
{#                        <span class="unit">GHz</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 col-xs-4 circleStatsContainer">#}
{#            <div class="circleStatsItemBox blue">#}
{#                <div class="header">Memory</div>#}
{#                <span class="percent">percent</span>#}
{#                <div class="circleStat">#}
{#                    <input type="text" value="100" class="whiteCircle" />#}
{#                </div>#}
{#                <div class="footer">#}
{#                    <span class="count">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GB</span>#}
{#                    </span>#}
{#                    <span class="sep"> / </span>#}
{#                    <span class="value">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GB</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 col-xs-4 circleStatsContainer">#}
{#            <div class="circleStatsItemBox green">#}
{#                <div class="header">Memory</div>#}
{#                <span class="percent">percent</span>#}
{#                <div class="circleStat">#}
{#                    <input type="text" value="100" class="whiteCircle" />#}
{#                </div>#}
{#                <div class="footer">#}
{#                    <span class="count">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GB</span>#}
{#                    </span>#}
{#                    <span class="sep"> / </span>#}
{#                    <span class="value">#}
{#                        <span class="number">64</span>#}
{#                        <span class="unit">GB</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="col-md-6">
        <div class="dashboardTitle">Weekly Activity Comparison</div>
        <div id="ActivitiesChart"></div>

    </div>






{% endblock %}

{% block js %}
    <script src="{% static 'activitytracker/js/counter.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.knob.modified.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
    <script src="{% static 'activitytracker/js/dashboard.js' %}"></script>
    <script src="{% static 'activitytracker/js/d3.min.js' %}"></script>
 	<script src="{% static 'activitytracker/js/dimple.v2.1.2.min.js' %}"></script>
{% endblock %}