<html>
    {% load staticfiles %}
    {% load custom_templates %}

<div class="modal-header box-header blueNavy" style='border-bottom:6px solid {{ color }} !important'>
    <h2><i class="halflings-icon list-alt white"></i><span class="break" ></span>Details of this Group of Activities ({{ total_grouped_activities }})</h2>
</div>

<!-- Modal detailing the activity -->
<div class=" modal-body row">
    {% for activity_performed in activity_list %}
    <div class="display-canvas col-xs-6 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-star show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if not activity_performed.performs_provider_instance %}
                    {{ activity_performed.instance.activity }}
            {% else %}<a href="{{ activity_performed.performs_provider_instance.provider_instance_url }}"
                      target="_blank">{{ activity_performed.instance.activity }}</a>
            {% endif %}
        </span>
    </div>
     <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-time show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">{{ activity_performed.start_date }} &nbsp;&nbsp; - &nbsp;&nbsp; {{ activity_performed.start_time }}  (Started)</span>
    </div>
    <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-repeat show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">{{ activity_performed.end_date }} &nbsp;&nbsp; - &nbsp;&nbsp; {{ activity_performed.end_time }}  (Ended)</span>
    </div>
    <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-screenshot show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if activity_performed.instance.goal %}
                {{ activity_performed.instance.goal }}
            {% else %}
                n/a
            {% endif %}
            &nbsp&nbsp
            {% if activity_performed.instance.goal_status == 'Reached'  %}
                <i class="fa fa-ok"></i>
            {% elif activity_performed.instance.goal_status == 'Failed' %}
                <i class="fa fa-remove"></i>
            {% elif instance.goal_status == 'InProgress' %}
                <i class="fa fa-road"></i>
            {% endif %}
        </span>
    </div>
    <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-flag show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if instance.result %}
                {{ activity_performed.instance.result}}
            {% else %}
                n/a
            {% endif %}
        </span>
    </div>
    <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-tags show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if instance.friends %}
                {{ activity_performed.instance.friends|addSpaceAfterComma }}
            {% else %}
                n/a
            {% endif %}
        </span>
    </div>
	<div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-wrench show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if activity_performed.tools %}
                {{ activity_performed.tools }}
            {% else %}
                n/a
            {% endif %}
        </span>
    </div>
    <div class="display-canvas col-xs-8 col-xs-offset-3">
        <span class="col-xs-2 col-xxs-12 glyphicon glyphicon-map-marker show-activity-glyphicon" aria-hidden="true"></span>
        <span class="show-activity-text col-xs-8 col-xxs-12">
            {% if activity_performed.instance.location_address %}
                {{ activity_performed.instance.location_address }}
            {% else %}
                n/a
            {% endif %}
        </span>
    </div>
    {% if activity_performed.instance.location_address %}
        <div id="map-canvas-group-show-{{ activity_performed.instance.id }}" class="map-canvas col-xs-offset-1 col-xs-10">{{ activity_performed.instance.location_lat }},{{ activity_performed.instance.location_lng }}</div>
    {% endif %}

    <div class='col-xs-12' style='margin:15px 0 20px 0;border-bottom:6px solid {{ color }}'></div>

    {% endfor %}
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-blueNavy" id='closeModal' data-dismiss="modal">Close</a>
</div>

	<script>
		function initializeGroupShowMaps() {
            var mapCanvases = $('div[id^="map-canvas-group-show"]');
            for(var i=0; i<mapCanvases.length;i++) {
				var mapCanvas = mapCanvases[i];
				var marker = new google.maps.Marker({});
				var coords = mapCanvas.textContent;
				var lat = parseFloat(coords.split(',')[0]);
				var lng = parseFloat(coords.split(',')[1]);
				marker.setPosition({lat: lat, lng: lng});
				var mapOptions = {
                    center: {lat: lat, lng: lng},
                    zoom: 16
				};
				var mapShow = new google.maps.Map(mapCanvas, mapOptions);
				marker.setMap(mapShow);
            }
		}
    </script>

</html>
