{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}

{% block css %}
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li><a href="#">Goals</a></li>
    </ul>

        <div class="box col-xs-12 box-transparent">
            <div class="box-content" id="GoalTableBox">
                <table id="GoalTable" class="table table-striped table-bordered bootstrap-datatable">
                      <thead class="goal-header">
                          <tr>
                              <th>Goal</th>
                              <th>Date set</th>
                              <th>Activity Linked</th>
                              <th>Status</th>
                              <th>Options</th>
                          </tr>
                      </thead>
                      <tbody>
                        <!-- Data from jQuery -->
                      </tbody>
                </table>
            </div>
        </div>

{% endblock %}

{% block modals %}

    <div class="modal fade" id="deleteGoalModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header blueNavy">
                    <h2><i class="halflings-icon trash white"></i><span class="break" ></span>New activity details</h2>
                </div>
                <div class="modal-body">
                    <p>This Text Will be Replaced depending on Goal by jQuery</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blueNavy" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" id="deleteGoalModalConfirm">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
	<script src="{% static 'activitytracker/js/goals.js' %}"></script>
{% endblock %}


