{% extends "dashboard/base.html" %}

{% block title %}My activities{% endblock %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/style-responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block bodyclass %}activitytracker-page{% endblock %}

{% block dashboard_content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <i class="icon icon-campaign"></i>
                <h1 class="header-large">Activities</h1>
                <p class="header-medium secondary"></p>
            </div>
        </div>
    </header>

    <section class="user-dashboard-projects-content">
        <!-- Start: Calendar ---------------------------------------------->
        <div class="row padding-horizontal-3 padding-vertical-5 margin-bottom-3">
            <div class="col-xs-12 padding-0">
            <div class="box-content pull-left">
                <div id="main_calendar" class="col-xs-12 padding-0"></div>
            </div>
        </div>
        </div>
        <!-- End: Calendar ------------------------------------------------>
        <div class="col-xs-12 padding-0" id="activitylist">
            <div class="row">
                <div class="col-lg-6">
                    <div class='grid-options col-xs-12 margin-bottom-5 padding-0'>

                        <form id="groupForm" action="{% url 'getgroupedactivities' %}" method="POST">
                            {% csrf_token %}
                            <div class='grid-options-container col-xs-12 margin-top-4'>
                                <div class="checkbox margin-right-1 margin-top-1" style="display:inline-block;">
                                    <label style="padding-left: 0;">
                                        <input type="checkbox" id="groupcheckbox" style="margin-right: 10px;"
                                               name="group-activities" checked onChange="GroupUngroupSort()"/>Group common
                                    </label>
                                </div>
                                <div style="display: inline-block" class="margin-top-1">
                                    <label for="sortdropdown">  | Sort by   </label>
                                    <select name="sort-activities" id="sortdropdown" onchange="GroupUngroupSort()" >
                                        <option value="Activity">Activity</option>
                                        <option value="Category">Category</option>
                                        <option value="Time">Time</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class='row padding-3'><!--content for 1st row--></div>
                    <div class='row padding-3'><!--content for 2nd row--></div>
                    <div class='row padding-3'><!--content for 3rd row--></div>
                </div>

                <!--- Chart -->
                <div class="col-lg-6" style="height:561px">
                    <div class="box-custom-header margin-top-4">
                        <h4 class="text-center padding-2" style="margin-bottom: 0;"><i class="fa fa-tasks white margin-right-3"></i><span class="break" ></span>Activity Type Overview</h4>
                    </div>
                    <div class="box-content" id="donut-canvas" style="background: white;">
                         <div id="donutchart" ></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" id="content-rest" ></div>
        </div>
    </section>


    <div class="modal fade" id="addActivityModal">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header">
                    <button type="button" class="close pull-right" data-dismiss="modal">×</button>
                    <h2 class="text-center"><i class="fa fa-list-alt white margin-right-3"></i><span class="break" ></span>New activity details</h2>
                </div>
                <form action="{% url 'addactivity' %}" method="post" name="addForm" id="addForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row no-reverse-margin">
                            <div class="col-sm-12 input-bottom-space">
                                <select data-placeholder="Search for activities" data-rel="chosen" id="name_of_activity" name="name_of_activity" class="form-group col-md-12">
                                {% for category,list in activity_data.items %}
                                <option value=''></option>
                                <optgroup label="{{ category }}">
                                    {% for name in list %}
                                    <option>{{ name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="left-inner-addon col-sm-6">
                                <span class="fa fa-calendar" aria-hidden="true"></span>
                                <input placeholder="  Start date" type="text" name="start_date" data-provide='datepicker' data-date-container='#addActivityModal' class="datepicker form-control input-lg" >
                            </div>
                            <div class="left-inner-addon col-sm-6">
                                <span class="fa fa-calendar" aria-hidden="true"></span>
                                <input placeholder="  End date" type="text" name="end_date" data-provide='datepicker' data-date-container='#addActivityModal' class="datepicker form-control input-lg">
                            </div>
                            <div class="left-inner-addon col-sm-6">
                                <span class="fa fa-clock-o" aria-hidden="true"></span>
                                <input id="start_time" name="start_time" class="clockpicker input-lg form-control" data-autoclose="true" size="16" type="text" placeholder="Start Time">
                            </div>
                            <div class="left-inner-addon col-sm-6">
                                <span class="fa fa-clock-o" aria-hidden="true"></span>
                                <input id="end_time" name="end_time" class="input-lg form-control clockpicker" data-autoclose="true" size="16" type="text" placeholder="End Time">
                            </div>
                            <div class="left-inner-addon col-sm-12">
                                <span class="fa fa-flag" aria-hidden="true"></span>
                                <input placeholder="Any goal at all?" type="text" name="goal" autocomplete='off' id="goalinput" class="input-lg form-control">
                                <div id="goalstatus" class="hidden text-center margin-top-2">
                                    <label class="margin-horizontal-2" style='color:green'>
                                        <input type="radio" name="goalstatus" value="Reached" id="Reached"/>
                                        Reached
                                        <span></span>
                                    </label>
                                    <label class="margin-horizontal-2" style='color:orange'>
                                        <input type="radio" name="goalstatus" value="InProgress" id="InProgress"/>
                                        In Progress
                                        <span></span>
                                    </label>
                                    <label class="margin-horizontal-2" style='color:red'>
                                        <input type="radio" name="goalstatus" value="Failed" id="Failed"/>
                                        Failed
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="left-inner-addon col-sm-12">
                                <span class="fa fa-check-circle-o" aria-hidden="true"></span>
                                <input placeholder="What did it result into?" type="text" name="result" autocomplete='off' id="result" class="input-lg form-control">
                            </div>
                            <div class="left-inner-addon col-sm-12">
                                 <span class="fa fa-tag" aria-hidden="true"></span>
                                 <input id="friends" type='text' class="input-lg form-control tokenfield" name="friends" placeholder="With whom where you with?">
                            </div>
                            <div class="left-inner-addon col-sm-12">
                                <span class="fa fa-wrench" aria-hidden="true"></span>
                                <input id="tools" type='text' class="input-lg form-control tokenfield" name="tools" placeholder="What did you use?" data-tokens="Activitytracker">
                            </div>
                            <div class="left-inner-addon col-sm-12">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                                <input id="places-input" class="input-lg form-control" name="location" type="text" placeholder="Search for Places">
                            </div>
                            <div id="map-canvas" class="col-xs-10 map-canvas"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary btn-at" value="Add Activity" id="addActivityModalSubmit"/>
                        <a href="#" class="btn btn-transparent btn-at margin-left-2" data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END of Modal for adding activity -->
    <!-- Modal detailing the activity -->
    <div class="modal fade" id="showActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">
            {#  Data will be fed remotely through display-activity.html template #}
            </div>
        </div>
    </div>
    <!-- END of Modal for showing activity -->

    <!-- Modal for Group activity -->
    <div class="modal fade" id="showGroupActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- END of Modal for showing activity -->
	<!-- START of Modal for editing an existing Activity -->
    <div class="modal fade" id="editActivityModal">
        <div class="modal-dialog">
             <div class="modal-content">
                {# Content from edit-activity.html #}
             </div>
        </div>
    </div>

    <div class="modal fade" id="carouselModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide">
                          <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                              <li data-target="#myCarousel" data-slide-to="3"></li>
                              <li data-target="#myCarousel" data-slide-to="4"></li>
                              <li data-target="#myCarousel" data-slide-to="5"></li>
                              <li data-target="#myCarousel" data-slide-to="6"></li>
                          </ol>
                          <!-- Carousel items -->
                          <div class="carousel-inner">
                              <div class="active item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide1.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>Easily add an activity using the button or a calendar cell. Inspect them by clicking on them.</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide2.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>Group & Sort could never be easier. Change the date range of the calendar to display the corresponding activities</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>Inspect, Edit & Delete an activity easily by clicking on any representation of them inside the App.</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide3.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>See a Timeline of the activities you performed. Modify and access them with 1 click.</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide4.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>Get a glimpse of the goals you have set over the activities you have performed. Easily inspect the activity and update the Goal & status.</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide5.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>See Analytics for all focus points of Activity Tracker. Change the filters and see new charts rising to meet the needs of your selections</p>
                                  </div>
                              </div>
                              <div class="item" style="min-height:460px">
                                  <img src='{% static 'activitytracker/img/guide6.png' %}'/>
                                  <div class="carousel-caption">
                                      <p>Easily modify your personal info and connect with providers to sync activities with external Apps. By adding your own
                                      places you can monitor the activities done near them in Analytics </p>
                                  </div>
                              </div>
                          </div>
                          <!-- Carousel nav -->
                          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <div align="center" style="margin-bottom:15px">
                    <a href="#" class="btn blueNavy" data-dismiss="modal">Got it!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Modal for editing an existing Activity -->
	<!-- Modals end here -->
{% endblock %}

{% block js %}
    <script src="{% static 'bower_components/jquery-ui/ui/autocomplete.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}?v=20160629.1"></script>
    <script src="{% static 'activitytracker/js/index.js' %}?v=20161111.1"></script>
{% endblock %}