{% extends "base_non_authenticated.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block content %}
				<div class="login-box">
				
					<h2 align="center">Login to your account</h2>
					<form class="form-horizontal" action="{% url 'login' %}" method="post" name="loginForm" id="loginForm">
						{% csrf_token %}
                        <fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input class="input-large span10" name="username" id="username" type="text" placeholder="type username"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="type password"/>
							</div>
							<div class="clearfix"></div>

                            <p id="messageParagraph" align="center"></p>

							<div align="center" class="button-login">	
								<button  type="submit" class="btn btn-primary">Login</button>
							</div>
							<div class="clearfix"></div>
                        </fieldset>
					</form>
                    <div id="overlay">
                        <img src="{% static 'activitytracker/img/spinner-mini.gif' %}" alt="Loading" />
					</div>
                    <div class="social-login" align="center">
						<p style='color:rgb(104, 100, 100)'><b>or</b></p>
						<div>
							<a href="#" onclick="window.open('{% url 'social:begin' 'facebook' %}', 'newwindow', 'width=500, height=500')" class="btn blueDark" style="color:white">
								<i class="icon-facebook" style="margin-right:10px"></i>
								Login with Facebook
							</a>
						</div>
						<div>
							<a href="#" onclick="window.open('{% url 'social:begin' 'google-oauth2' %}', 'newwindow', 'width=500, height=500')" class="btn red" style="color:white">
								<i class="icon-google-plus" style="margin-right:10px"></i>
								Login with Google&nbsp;
							</a>
						</div>
					</div>
					<h3 align="center"><a href="{% url 'passwordforget' %}">Forgot Password</a></h3>
					<h3 align="center"><a href="{% url 'register' %}">Register here</a></h3>

				</div><!--/span-->
			
{% endblock %}