{% extends "base_non_authenticated.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block content %}
				<div class="login-box">
				
					<h2 align="center">CloudTeams Community</h2>
					<form class="form-horizontal" action="{% url 'login' %}" method="post" name="loginForm" id="loginForm">
						{% csrf_token %}
                        <fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input class="input-large span10" name="username" id="username" type="text" placeholder="type username"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="type password"/>
							</div>
							<div class="clearfix"></div>

                            <p id="messageParagraph" align="center"></p>

							<div align="center" class="button-login">	
								<button  type="submit" class="btn btn-primary">Login</button>
							</div>

							<div class="clearfix"></div>
                        </fieldset>
					</form>
                    <div class="social-login" align="center">
                        <img src="{% static 'activitytracker/img/facebook-login.png' %}" onclick="window.open('{% url 'social:begin' 'facebook' %}', 'newwindow', 'width=500, height=500')">
                        <img src="{% static 'activitytracker/img/google-login.png' %}" onclick="window.open('{% url 'social:begin' 'google-oauth2' %}', 'newwindow', 'width=500, height=500')">
					</div>
					<h3>
                        <a style="float:left" href="{% url 'register' %}">Register here</a>
                        <a style="float:right" href="{% url 'passwordforget' %}">Forgot Password</a>
                    </h3>

				</div><!--/span-->
			
{% endblock %}