{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="background-blurred"></div>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
            <i class="icon-angle-right"></i>
        </li>
    <li><a href="#">Overview</a></li>
    </ul>
{% endblock %}

{% block js %}
    <script src="{% static 'activitytracker/js/jquery.flot.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'activitytracker/js/jquery.flot.resize.min.js' %}"></script>
{% endblock %}