{% extends "base_non_authenticated.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% load custom_templates %}

{% block content %}
    <div class="accountOptions-box col-md-offset-4 col-md-4">

        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <img src="{% static 'activitytracker/img/cloudteams-logo.svg' %}" alt="Cloudteams Logo" class="img-responsive center-block">
            </div>
            <h1 class="text-center col-xs-12">Password Reset</h1>
        </div>
        <hr>
        <form class="form-horizontal" action="{% url 'passwordforget' %}" method="post" name="forgetForm" id="forgetForm">
            {% csrf_token %}
            <fieldset>

                <div class="left-inner-addon">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <input name="username" id="username" type="text" class="form-control input-lg" placeholder="Please enter your username" />
                </div>

                <div class="col-xs-12"><h3 class="hidden error-message text-center">Invalid Username or Unverified User</h3></div>
                <div class="col-xs-12"><h3 class="hidden success-message text-center">We have sent you an email with instructions on how to reset your password</h3></div>

                <div class="col-xs-4 col-xs-offset-4 account-btn">
                    <button  type="submit" class="btn btn-blueNavy col-xs-12">Continue</button>
                </div>

            </fieldset>
        </form>
        <div class="row"><h3 class="text-center">Back to <a href="{% url 'login' %}">Login Page</a></h3></div>
    </div><!--/span-->
{% endblock %}
