{% extends "base_non_authenticated.html" %}
{% load staticfiles %}
{% load custom_templates %}
{% load custom_templates %}

{% block content %}
				<div class="accountOptions-box">

					<h2 align="center">Please enter your username</h2>
					<form class="form-horizontal" action="#" method="post" name="forgetForm" id="forgetForm">
						{% csrf_token %}
                        <fieldset>

							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input class="input-large span10" name="username" id="username" type="text" placeholder="type username"/>
							</div>
							<div class="clearfix"></div>

                            <p align="center" id="usercheckmessage"></p>

							<div align="center" class="button-accountOptions">
								<button  type="submit" class="btn btn-primary">Continue</button>
							</div>
                            <div id="overlay">
								<img src="{% static 'activitytracker/img/spinner-mini.gif' %}" alt="Loading" />
							</div>
							<div class="clearfix"></div>
                        </fieldset>
					</form>
					<p align="center">
						Back to <a href="{% url 'login' %}">Login page</a>.
					</p>
				</div><!--/span-->
{% endblock %}
