{% extends "base_non_authenticated.html" %}
{% load staticfiles %}


{% block content %}
            <div class="accountOptions-box" align="center">
                {% if valid_token %}
                    <h2 align="center">Reset Password</h2>
                    <form class="form-horizontal" action="{% url 'passwordforget' %}" method="post" name="passwordResetForm" id="passwordResetForm">
                        {% csrf_token %}
                        <fieldset>

                            <div class="input-prepend" title="Password">
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                <input class="input-large span10" name="password" id="password" type="password" placeholder="Type a password"/>
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="Repeat Password">
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                <input class="input-large span10" name="repeat_password" id="repeat_password" type="password" placeholder="Retype it again"/>
                            </div>
                            <div class="clearfix"></div>

                            <p id="responseMessage" align="center"></p>

                            <div align="center" class="button-accountOptions">
                                <button  type="submit" class="btn btn-primary">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </fieldset>
                    </form>
                {% else %}
                    <p style="color:red">An Error has occured. Make sure you have visited the correct URL.</p>
                {% endif %}
                    <p>Back to <a href="{% url 'login' %}">Login page</a></p>
            </div>
      {% endblock %}