{% extends "base_non_authenticated.html" %}
{% load staticfiles %}
{% load custom_templates %}

{% block content %}
    <div class="login-box col-md-offset-4 col-md-4">

        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <img src="{% static 'activitytracker/img/cloudteams-logo.svg' %}" alt="Cloudteams Logo" class="img-responsive center-block">
            </div>

            <h1 class="text-center col-xs-12">Password Reset</h1>
        </div>
        <hr>
        {% if valid_token %}
            <h2 align="center">Reset Password</h2>
            <form class="form-horizontal" action="{% url 'passwordReset' token %}" method="post" name="passwordResetForm" id="passwordResetForm">
                {% csrf_token %}
                <fieldset>

                    <div class="left-inner-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        <input class="form-control input-lg" name="password" id="password" type="password" placeholder="New Password"/>
                    </div>

                    <div class="left-inner-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        <input class="form-control input-lg" name="password_repeat" id="password_repeat" type="password" placeholder="New Password Again"/>
                    </div>

                    <div class="col-xs-12"><h3 class='error-message hidden'>Passwords don't match each other</h3></div>
                    <div class="col-xs-12"><h3 class='success-message hidden'>Password updated successfully! You will be soon redirected</h3></div>

                    <div class="col-xs-4 col-xs-offset-4 account-btn">
                        <button  type="submit" class="btn btn-blueNavy col-xs-12">Update</button>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <div class="col-xs-12"><h3 class="error-message">An Error has occured. Make sure you have visited the correct verification URL.</h3></div>
        {% endif %}
        <div class="row"><h3 class="text-center">Back to <a href="{% url 'login' %}">Login page</a></h3></div>
    </div>
{% endblock %}