{% extends "layout.html" %}
{% load url from future %}
{% load project_tags %}
{% load staticfiles %}
{% block title %}Registration Successful{% endblock %}
{% block section_class %}page-login{% endblock %}
{% block wrapper %}{% endblock %}

{% block menu %}{% endblock %}
{% block content %}
    <div class="container">
        <main>
            <h2>Thank you for registering!</h2>
            <p>We have sent you an e-mail with a validation link to follow.</p>
        </main>
    </div>
{% endblock %}