{% extends "dashboard/base.html" %}

{% block title %}CloudTeams | Settings{% endblock %}
{% load staticfiles %}
{% load custom_templates %}

{% block css %}
    <link href="{% static 'activitytracker/css/slider.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.css" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

{% endblock %}


{% block dashboard_content %}

   <!-- Content begins HERE ------------------------------------------------------------------>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Account Settings</h1>
        </div>
        <div class="col-xs-12 margin-top-5">
            <div class="box-header header-with-line padding-bottom-3 text--white" data-original-title>
                <h4><i class="fa fa-cloud white margin-right-2"></i><span class="break"></span>Available Providers</h4>
            </div>
            <div class="box-content row text--lightgrey">
                <table id="ProvidersTable" class="col-xs-12 text-center user-providers">
                    <tbody>
                        {% for provider_name,provider_data in providerDomValues.items %}
                        <tr class="connected-app {{ provider_name }} text--white {% if provider_data.statusText != "App connected" %}text--disabled{% endif %}">
                            <td ><img src="{% static 'activitytracker/img/'|add:provider_name|add:'.png' %}"/></td>
                            <td><span class="connected-app-text provider-name">{{ provider_name|capitalizeFirstLetter|removeDashes }}</span></td>
                            <td>
                                {% if provider_data.statusText == "App connected" %}
                                <a class="btn connected-app-button btn-blueNavy" onclick="synchronizeProvider('{{ provider_name }}', this)" title="Synchronize">
                                    Synchronize
                                </a>
                                {% endif %}

                                {% if provider_data.buttonText == 'De-Authorize'  %}
                                    <a onclick="appFunctionHandler('{{ provider_name }}', this)" class="text--white disconnect-app" title="{{ provider_data.buttonText }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% else %}
                                    <a onclick="appFunctionHandler('{{ provider_name }}', this)" class="btn btn-transparent" title="{{ provider_data.buttonText }}">
                                        {{ provider_data.buttonText }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row margin-vertical-5">
                <div class="col-sm-6 col-sm-offset-3 vertical-margin text-center alert-success hidden" id="success-msg"></div>
            </div>
        </div>
        <div class="col-xs-12 margin-vertical-5 text--white" id="section-email-notifications">
            <div class="box-header header-with-line" data-original-title>
                <h4><i class="fa fa-envelope white margin-right-2"></i><span class="break"></span>Email notifications</h4>
            </div>
            <div class="box-content padding-top-5 text--lightgrey">
                <p>Receiving email notifications is an easy way to keep in touch with your favourite projects, as well as to let CloudTeams match you with new, exiting projects we believe you will love!</p>
                <p>You can turn on or off email notifications:</p>
                <div>
                    {% csrf_token %}
                    <select id="email-notifications-settings" class="text--white">
                        <option value="enabled"{% if request.user.profile.email_notifications %} selected="selected"{% endif %}>Enabled</option>
                        <option value="disabled"{% if not request.user.profile.email_notifications %} selected="selected"{% endif %}>Disabled</option>
                    </select>
                    <div class="message padding-vertical-2"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin-vertical-5 text--white">
            <div class="box-header header-with-line" data-original-title>
                <h4><i class="fa fa-exclamation-triangle white margin-right-2"></i><span class="break"></span>Danger Zone</h4>
            </div>
            <div class="box-content padding-top-5 text--lightgrey">
                <p>If you delete your CloudTeams account, all of your data such as profile information, project preferences
                and external activities will be deleted. This action is irreversible.</p>
                <p>
                <a href="#" data-toggle="modal" data-id="delete-account-popup" class="btn btn-sm btn-default margin-bottom-5">Delete</a></p>
            </div>
        </div>
    </div>

    <div class="modal modal-default hide" id="delete-account-popup">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Delete your CloudTeams Account</h3>
        </div>
        <div class="modal-body">
            <p>If you delete your CloudTeams account, all of your data such as profile information, project preferences
                and external activities will be deleted. <em>This action can not be reverted.</em></p>
            <p>Please note that content you have provided to teams such as customer ideas you may have posted or
                questionnaires you have responded can not be withdrawn.</p>
            <p>Type <b>DELETE</b> in the box below and click the OK button to delete your account:</p>

            <form class="delete-account-form" action="/activitytracker/account/delete/" method="POST">
                {% csrf_token %}

                <input type="text" name="delete_confirm" id="id_delete_confirm" value="" required="required" placeholder="Type DELETE to condirm"/>
                <button type="submit" class="btn btn-transparent pull-right" style="margin: 20px 0"><i class="fa fa-trash-o"></i> <span>OK</span></button>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="{% static 'bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
    <script src="{% static 'activitytracker/js/settings.js' %}?v=20170118.1"></script>
    <script src="{% static 'activitytracker/js/delete-account.js' %}"></script>
{% endblock %}
