<h1>Privacy Terms</h1>

This is an application developed for research purposes by Decisions Support System (DSS) Lab, NTUA, that aims to help a person manage his daily life routine by providing visualizations of his daily activities and actions. Below you can read a detailed description of how the data is used.

<h3>Gathering of Personally-Identifying Information</h3>
The application collects activity-based information the user has shared manually or through third party applications (RunKeeper, Facebook and more). The emails and names that are stored in the system are only used to interact with the user and are not being used for any commercial or privacy violating purposes. The authorization of the any third-party service will be only be used to retrieve new application data provided by the API of the service, which will be solely collected and used for the purposes of the research and application. Any kind of information not related to the research purposes of the current application will be ignored and not fetched at all.

<h3>Protection of Certain Personally-Identifying Information</h3>
The application discloses potentially personally-identifying and personally-identifying information only to those of its research team (DSS Lab NTUA), partners, researchers and affiliated organizations that (i) need to know that information in order to validate the research results, and (ii) that have agreed not to disclose it to others. Some of those employees, partners, researchers and affiliated organizations may be located outside of your home country; by using the application, you consent to the transfer of such information to them. DSS Lab takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information. DSS Lab may process your personal data to improve its own analytics and further increase the added value given. The outcome of this process will not be available to any third-party entity.

<h3>Internet Protocol (IP) Address, WAN Data and Cookie processing</h3>
No data of IP Addresses, WAN data and cookies will be processed by the application. Any such data unavoidably recognized for technical reasons will be deleted as soon as possible.

<h3>Ads</h3>
Data will not be given and used for any advertising purpose.

<h3>Privacy Policy Changes</h3>
Although most changes are likely to be minor, the application may change its Privacy Policy from time to time. We advice the users to constantly check the privacy policy of the application, although in the event of any change, all the users will be notified through emails.

<h3>Leaving the application</h3>
By deleting your account in the application, all of your data including personal information, authorization keys and any sort of inserted data is automatically deleted and permanently removed from the system. For further inqueries regarding the data you can send an email at <b>contact@epu.ntua.gr<b>.

