{% extends "base.html" %}
{% load staticfiles %}
{% load custom_templates %}

{% block css %}
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/romanos.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="#">Timeline</a>
        </li>
    </ul>

    <div class="col-xs-12 no-padding">
        <div class="dark">
            <h1 align="center">Activity Timeline</h1>
            <div class=" timeline">
                <!-- Content from Timeline.js -->
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}

    <div class="modal fade " id="showActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div class="modal fade" id="editActivityModal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}
	
{% block js %}
    <script src="{% static 'bower_components/jquery-ui/ui/autocomplete.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js' %}"></script>
    <script src="{% static 'activitytracker/js/custom.js' %}"></script>
	<script src="{% static 'activitytracker/js/timeline.js' %}"></script>
{% endblock %}

