{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}
{% load staticfiles %}
{% block title %}Terms and conditions{% endblock %}
{% block wrapper %}{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
            margin-bottom: 50px;
            color: #333;
        }

        h2 {
            font-size: 1.75em;
        }

        main ul {
            margin-bottom: 10px;
            padding-left: 30px;
        }

        main ul > li {
            color: #333;
            list-style: circle;
        }
    </style>

    <main>
        <section>
            <div class="container">
                <h1>Terms and conditions</h1>

                <h2>Welcome to CloudTeams</h2>
                <p>Welcome to CloudTeams. By using this website (the “Site”) and services (together with the Site, the “Services”) offered by CloudTeams project
                    (together with its partners, agents, representatives, consultants, employees, officers, and directors — collectively, “CloudTeams,” “we,” or “us”),
                    you’re agreeing to these legally binding rules (the “Terms”). You’re also agreeing to our Privacy Policy and agreeing to follow any other rules on the Site,
                    like our Community Guidelines and rules for starting projects.</p>
                <p>We may change these terms from time to time. If we do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email.
                    New versions of the terms will never apply retroactively — we’ll tell you the exact date they go into effect. If you keep using CloudTeams after a change,
                    that means you accept the new terms.</p>
                <p>CloudTeams is for your personal, non-commercial use, except if you are a Software Team member that you want to create a project in CloudTeams.
                    In that case, you should be aware of the current Terms of Use,
                    but you must also agree with <b><u>the Terms of Use regarding the Software Team platform and functionality.</u></b></p>

                <h2>About Creating an Account</h2>
                <p>You can browse CloudTeams without registering for an account. But to use some of CloudTeam’s functions, you’ll need to register, choose an account name, and set a password.</p>
                <p>When you do that, the information you give us has to be accurate and complete. Don’t impersonate anyone else or choose names that are offensive or that violate anyone’s rights.</p>
                <p>If you don’t follow these rules, we may cancel your account.</p>

                <h2>Basic Terms	</h2>
                <ul>
                    <li>You must be 18 years or older to use this application. If necessary, we may ask you for proof of age.</li>
                    <li>You may not post nude, partially nude, or sexually suggestive photos.</li>
                    <li>You are responsible for any activity that occurs under your screen name	</li>
                    <li>You are responsible for keeping your password secure.</li>
                    <li>You must not abuse, harass, threaten, impersonate or intimidate other users, or software teams and their members.</li>
                    <li>You may not use the service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
                    <li>You are solely responsible for your conduct and any data, text, information, screen names, graphics,photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the CloudTeams service.	</li>
                    <li>You must not modify, adapt or hack CloudTeams or modify another website so as to falsely imply that it is associated with CloudTeams.</li>
                    <li>You must not crawl, scrape, or otherwise permanently store any content from CloudTeams including but not limited to projects, user profiles and photos.</li>
                    <li>You must not create or submit unwanted email or comments to any CloudTeams members ("Spam").</li>
                    <li>You must not use web URLs in your name without prior written consent from CloudTeams.	</li>
                    <li>You must not transmit any worms or viruses or any code of a destructive nature.	</li>
                    <li>You must not, in the use of CloudTeams, violate any laws in your jurisdiction (including but not limited to copyright laws). Don’t take any action that infringes or violates other people’s rights, violates the law, or breaches any contract or legal duty you have toward anyone.</li>
                    <li>You must not claim prohibited rewards, which are illegal, violate any CloudTeam’s policies, rules or guidelines, or violate any applicable law, statute, ordinance, or regulation. If you don’t know if the rewards are under this category, please contact and ask contact@cloudteams.eu.</li>
                    <li>Violation of any of these agreements, besides any other legal implication, will also result in the termination of your CloudTeams account. While CloudTeams prohibits such conduct and content on its site, you understand and agree that CloudTeams cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the CloudTeams service at your own risk.</li>
                    <li>In case of the death of a user, his/her respective heirs may contact the CloudTeams team platform administrator and request the removal of all personal data generated by this user.</li>
                    <li>There will be no uncontrolled sale of users personal data in case of CloudTeams bankruptcy.</li>
                </ul>

                <h2>How Projects Work</h2>
                <p>CloudTeams provides a feedback platform for creative software projects. When a team posts a project on CloudTeams, they are inviting other people to form a contact with them.
                    Anyone who follows supports and supports activities with software teams is accepting the team’s offer, and forming that contract.</p>
                <p>CloudTeams is not a part of this contract — the contract is a direct legal agreement between software team’s project and their supporters.
                    Here are the terms that govern that agreement:</p>
                <ul>
                    <li>When a feedback task is successfully completed, the team must complete its promise and give back to the supporters the promised reward.</li>
                    <li>Both the members of the software teams and the supporters must not violate the current Terms, or the Privacy Policy during their interactions. </li>
                    <li>In case that a project offers software usage upon release, the team members are responsible to fulfill immediately every promise done towards participants for access to this release.</li>
                    <li>Throughout the process, software teams owe their supporters and the campaign participants a high standard of effort, honest communication, and a dedication to bringing the project to life. At the same time, supporters and participants must understand that when they back a project, they’re helping to create something new — not ordering something that already exists. There may be changes or delays, and there’s a chance something could happen that prevents the team from being able to finish the project as promised.</li>
                </ul>
                <p>The team is solely responsible for fulfilling the promises made in their project. If they’re unable to satisfy the terms of this agreement, they may be subject to legal action by supporters and participants.
                    CloudTeams does not have any liability towards supporters regarding the actions of teams that are not fulfilling their commitments.</p>

                <h2>Proprietary Rights in Content on CloudTeams</h2>
                <ul>
                    <li>CloudTeams does NOT claim ANY ownership rights in the text, files, images, photos, video, sounds, musical works, works of authorship, applications, or any other materials (collectively, "Content") that you post on or through the CloudTeams Services. By displaying or publishing ("posting") any Content on or through the CloudTeams Services, you hereby grant to CloudTeams a non-exclusive, fully paid and royalty-free, worldwide, limited license to use, modify, delete from, add to, publicly perform, publicly display, reproduce and translate such Content, including without limitation distributing part or all of the Site in any media formats through any media channels, except Content not shared publicly ("private") will not be distributed outside the CloudTeams Services. This IP License ends when you delete your IP content or your account.</li>
                    <li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others). All this content will be securely deleted at the end of the CloudTeams project, prior to notice from the consortium to all CloudTeams users for this operation, unless they explicitly grant permission to the consortium to retain this content in the CloudTeams platform, until the users delete it themselves in the future.</li>
                    <li>You represent and warrant that: (i) you own the Content posted by you on or through the CloudTeams Services or otherwise have the right to grant the license set forth in this section, (ii) the posting and use of your Content on or through the CloudTeams Services does not violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person, and (iii) the posting of your Content on the Site does not result in a breach of contract between you and a third party. You agree to pay for all royalties, fees, and any other monies owing any person by reason of Content you post on or through the CloudTeams Services.</li>
                    <li>The CloudTeams Services contain Content of CloudTeams ("CloudTeams Content"). CloudTeams Content is protected by copyright, trademark, patent, trade secret and other laws, and CloudTeams owns and retains all rights in the CloudTeams Content and the CloudTeams Services. CloudTeams hereby grants you a limited, revocable, nonsublicensable license to reproduce and display the CloudTeams Content (excluding any software code) solely for your personal use in connection with viewing the Site and using the CloudTeams Services.	</li>
                    <li>The CloudTeams Services contain Content of Users and other CloudTeams licensors. Except as provided within this Agreement, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any Content appearing on or through the CloudTeams Services.	</li>
                    <li>CloudTeams performs technical functions necessary to offer the CloudTeams Services, including but not limited to transcoding and/or reformatting Content to allow its use throughout the CloudTeams Services.</li>
                    <li>Although the Site and other CloudTeams Services are normally available, there will be occasions when the Site or other CloudTeams Services will be interrupted for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond the control of CloudTeams. Also, although CloudTeams will normally only delete Content that violates this Agreement, CloudTeams reserves the right to delete any Content for any reason, without prior notice. Deleted content may be stored by CloudTeams in order to comply with certain legal obligations and is not retrievable without a valid court order. Consequently, CloudTeams encourages you to maintain your own backup of your Content. In other words, CloudTeams is not a backup service. CloudTeams will not be liable to you for any modification, suspension, or discontinuation of the CloudTeams Services, or the loss of any Content.	</li>
                    <li>Your profile is only visible under an avatar and cannot be linked with your real profile unless you make information public.	</li>
                    <li>When you join a project (i.e. an application under development), your content and information is shared with the project owners, based on the profile data you have explicitly permitted to be public. CloudTeams requires projects to respect your privacy, and your agreement with that project will control how the project can use, store, and transfer that content and information and how IPRs are treated.	</li>
                    <li>You are in a position to opt-out of any project (“leave” from a project) that makes use of your information, at any time and for any reason. This action will result in ceasing the IPR agreement between yourself and the project, while the data you have shared with this project will be deleted and no new data will be provided from your side.</li>
                    <li>You are allowed to re-join a project at any time, by accepting the agreement that is valid at the period of joining.</li>
                    <li>A project may at any time ban certain users due to violation of terms of use, prior to notifying the user and the CloudTeams consortium for the intended action.	</li>
                    <li>A project may at any time request from users to share more data and/or modify the IPR agreement. In such a case, the user may a) decide either to accept these changes, b) reject them and continue his presence in the project without altering the agreement and data sharing permissions which he accepted at join (or during a previous request), or c) reject them and completely opt out of the project.	</li>
                    <li>We always appreciate your feedback or other suggestions about CloudTeams, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
                </ul>

                <h2>What CloudTeams Doesn’t Do and Isn’t Responsible For</h2>
                <p>CloudTeams isn’t liable for any damages or losses related to your use of the Services. We don’t become involved in disputes between users,
                    or between users and any third party relating to the use of the Services.
                    We don’t oversee the performance or punctuality of projects, and we don’t endorse any content users submit to the Site.
                    When you use the Services, you release CloudTeams from claims, damages, and demands of every kind — known or unknown, suspected or unsuspected,
                    disclosed or undisclosed — arising out of or in any way related to such disputes and the Services.
                    All content you access through the Services is at your own risk. You’re solely responsible for any resulting damage or loss to any party.</p>

                <h2>No Fees for supporters and participants</h2>
                <p>Creating an account on CloudTeams is free. You charge no followers and participants for participating in feedback activities.
                    If you are a software team, see the relevant segment in Terms of Use for Team members.</p>

                <h2>Other Websites</h2>
                <p>CloudTeams may contain links to other websites. (For instance, project pages, user profiles, and comments may link to other sites.)
                    When you access third-party websites, you do so at your own risk. We don’t control or endorse those sites.</p>

                <h2>How We Deal with Copyright Issues</h2>
                <p>The Digital Millennium Copyright Act lays out a system of legal requirements for dealing with allegations of copyright infringement. CloudTeams complies with the Electronic Commerce Directive, and we respond to notices of alleged infringement if they comply with the law and the requirements set forth in our Copyright Policy.
                    We reserve the right to delete or disable content alleged to be infringing, and to terminate accounts for repeat infringers.
                    (We do this when appropriate and at our sole discretion.)</p>
                <p>If you’d like to submit a claim of copyright infringement, please send an e-mail to <a href="mailto:contact@cloudteams.eu">contact@cloudteams.eu</a>.</p>

                <h2>Deleting Your Account</h2>
                <p>You can terminate your account at any time. All provisions of this agreement survive termination of an account,
                    including our rights regarding any content you’ve already submitted to the Site.
                    (For instance, if you’ve participated a project, deleting your account will not remove the project interactions from the Site.) </p>
                <p>Nevertheless, what will be removed from the platform is:</p>
                <ul>
                    <li>all your profile and personal data will be removed completely from the platform,</li>
                    <li>data you have synced from third party services (e.g. Facebook, Twitter, YouTube),</li>
                    <li>any rewards you have not collected or claimed will be lost permanently and you will not be able to reclaim them if you join the service again.</li>
                </ul>

                <h2>Our Rights</h2>
                <p>CloudTeams reserves these rights:</p>
                <ul>
                    <li>We can make changes to the CloudTeams Site and Services without notice or liability.</li>
                    <li>We have the right to decide who’s eligible to use CloudTeams. We can cancel accounts or decline to offer our Services. (Especially if you’re abusing them.) We can change our eligibility criteria at any time. If these things are prohibited by law where you live, then we revoke your right to use CloudTeams in that jurisdiction.</li>
                    <li>We have the right to reject, cancel, interrupt, remove, or suspend any project at any time and for any reason.</li>
                    <li>CloudTeams is not liable for any damages as a result of any of these actions, and it is our policy not to comment on the reasons for any such action.</li>
                </ul>

                <h2>Warranty Disclaimer</h2>
                <p>You use our Services solely at your own risk. They are provided to you “as is” and “as available” and without warranty of any kind, express or implied.</p>
                <p>CLOUDTEAMS SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE,
                    AND ANY WARRANTIES IMPLIED BY ANY COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE. NO ADVICE OR INFORMATION
                    (ORAL OR WRITTEN) OBTAINED BY YOU FROM CLOUDTEAMS SHALL CREATE ANY WARRANTY</p>

                <h2>Limitation of Liability</h2>
                <p>To the fullest extent permitted by law, in no event will CloudTeams, its directors, partners, partners, suppliers, officers, reviewers or content providers be liable for any indirect,
                    incidental, punitive, consequential, special, or exemplary damages of any kind, including but not limited to damages (i) resulting from your access to, use of,
                    or inability to access or use the Services; (ii) for any lost profits, data loss, or cost of procurement or substitute goods or services; or (iii) for any conduct of content of
                    any third party on the Site.
                    In no event shall CloudTeams’s liability for direct damages be in excess of (in the aggregate) one hundred Euros (€100.00).</p>

                <h2>Dispute Resolution and Governing Law</h2>
                <p>We at CloudTeams encourage you to contact us if you’re having an issue, before resorting to the courts.
                    In the unfortunate situation where legal action does arise, these Terms (and all other rules, policies, or guidelines incorporated by reference)
                    will be governed by and construed in accordance with the laws of Belgium, without giving effect to any principles of conflicts of law,
                    and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods.
                    You agree that CloudTeams and its Services are deemed a passive website that does not give rise to jurisdiction over CloudTeams or its partners,
                    affiliates, assigns, employees, agents, directors, officers, or reviewers, either specific or general, in any jurisdiction other than Belgium.
                    You agree that any action at law or in equity arising out of or relating to these Terms, or your use or non-use of CloudTeams,
                    shall be filed only in the courts located in Belgium,
                    and you hereby consent and submit to the personal jurisdiction of these courts for the purposes of litigating any such action.
                    You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.</p>

                <h2>The Rest</h2>
                <p>These Terms and the other material referenced in them are the entire agreement between you and CloudTeams with respect to the Services.
                    They supersede all other communications and proposals (whether oral, written, or electronic) between you and CloudTeams with respect to the
                    Services and govern our future relationship. If any provision of these Terms is found to be invalid under the law,
                    that provision will be limited or eliminated to the minimum extent necessary so that the Terms otherwise will remain in full force and effect and enforceable.
                    The failure of either you or CloudTeams to exercise any right provided for in these Terms in any way won’t be deemed a waiver of any other rights.</p>
                <p>These Terms are personal to you. You can’t assign them, transfer them, or sublicense them unless you get CloudTeam’s prior written consent.
                    CloudTeams has the right to assign, transfer, or delegate any of its rights and obligations under these Terms without your consent.
                    CloudTeams will provide you notice via email, written notice, or by conspicuously posting the notice on our Site.</p>
            </div>
        </section>
    </main>
{% endblock %}