{% load url from future %}
{% load project_tags %}
{% load staticfiles %}


<div class="give-feedback">
    <div class="container">
        <div class="vertical-align">
            <div class="middle">
                <h2 class="header-medium secondary">Give feedback on our homepage and get awesome rewards</h2>
            </div>

            <div class="middle">
                <label>Select another campaign:</label>

                <div class="select-dropdown">
                    <select id="id_selected-campaign" name="selected-campaign" data-projectid="{{ campaign.project_id }}" size="1">
                        {% for campaign in campaign.project.campaigns.all %}
                            <option value="{{ campaign.pk }}">{{ campaign.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="submenu">
    <div class="container">
        <ul class="menu-subsection public">
            <li id="link-to-subsection-4" class="link-to-subsection active">About campaign</li>
        </ul>
    </div>
</div>

{% include "ct_projects/campaign/overview.html" %}

<section id="subsection-4" class="subsection active">
    <div class="container">
        <div class="content">
            <h2 class="header-medium secondary">About this campaign</h2>

            <p>{{ campaign.description }}</p>

            <h2 class="header-medium secondary campaign-bookmark">Polls</h2>
            {% for poll in campaign.polls.all %}
                {% include "ct_projects/campaign/poll.html" %}
            {% empty %}
                <p class="col-xs-12" style="color: #999;">No polls in this campaign</p>
            {% endfor %}

            <h2 class="header-medium secondary campaign-bookmark">Documents</h2>
            {% for document in campaign.documents.all %}
                {% include "ct_projects/campaign/document.html" %}
            {% empty %}
                <p class="col-xs-12" style="color: #999;">No documents in this campaign</p>
            {% endfor %}

        </div>
    </div>
</section>



