{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% block title %}Dashboard - Campaigns{% endblock %}
{% block dashboard_content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <img class="svg" src="{% static "img/icons/icon-campaigns.svg" %}">
                <h1 class="header-large">Running Campaigns</h1>
            </div>

            <div class="middle last">
                <p class="project-counter"><span>{{ n_of_followed }}</span></p>

                <p class="project-counter">Campaign{% if n_of_followed != 1 %}s{% endif %}</p>
            </div>
        </div>
    </header>

    {% if campaigns %}
        {% include "ct_projects/campaign/list.html" %}
    {% else %}
        <section class="user-dashboard-projects-content">
            <div class="row">
                <p class="empty-dashboard">Your dashboard seems empty... Follow more projects to discover and participate in new, interesting campaigns!</p>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/userdashboardprojects-dev.js" %}"></script>
{% endblock %}