{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}

{% block content %}
{% autoescape off %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'all-projects' %}">Projects</a>
        </li>
        <li>
            <a href="{% url 'project-details' campaign.project.pk %}">{{campaign.project.title}}</a>
        </li>
        <li>
            <a href="{% url 'campaign-details' campaign.project.pk campaign.pk %}">{{campaign.name}}</a>
        </li>
    </ul>

    <div class="clearfix">
        {% if campaign.logo %}
            <img class="pull-right" scr="{{campaign.logo}}" height="60" />
        {% endif %}

        <h1 class="pull-left">{{campaign.name}}</h1>
    </div>

    <h2>Polls</h2>
    {% for poll in campaign.polls.all %}
        <div>
            <h3>{{poll.name}}</h3>
            {% if poll.description %}
                <p>{{poll.description}}</p>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{{poll|get_poll_token_link:request.user}}">Participate in this poll</a>
            {% else %}
                <a href="/activitytracker/login/?next={% url 'campaign-details' campaign.project.pk campaign.pk %}">Login to Participate in this poll</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No polls in this campaign.</p>
    {% endfor %}

    <h2>Documents</h2>
    {% for document in campaign.documents.all %}
        <div>
            <h3>{{document.name}}</h3>
            {% if document.description %}
                <p>{{document.description}}</p>
            {% endif %}
            <a href="{{document.link}}">View document</a>
        </div>
    {% empty %}
        <p>No documents in this campaign.</p>
    {% endfor %}

{% endautoescape %}
{% endblock %}