{% load staticfiles %}

{% with expired=campaign.has_expired %}
    <div class="public-overview-data public-project-campaign-overview-data">
        <div class="container">
            <div class="vertical-align">
                <div class="middle">
                    <table>
                        <tr>
                            <td>
                                <i class="icon icon-activity"></i>
                                <p>Status</p>
                            </td>
                            <td>
                                <p>{% if expired %}Closed{% else %}Open{% endif %}</p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <i class="icon icon-add-member"></i>
                                <p>Participants</p>
                            </td>
                            <td>
                                <p>{{ campaign.count_participants }}</p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <i class="icon icon-start"></i>
                                <p>Date opened</p>
                            </td>
                            <td>
                                <p><time datetime="{{ campaign.starts|date:"Y-m-d" }}">{{ campaign.starts|date:"d-m-Y" }}</time></p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <i class="icon icon-close2"></i>
                                <p>Date {% if expired %}closed{% else %}closing{% endif %}</p>
                            </td>
                            <td>
                                <p><time datetime="{{ campaign.close_time|date:"Y-m-d" }}">{{ campaign.close_time|date:"d-m-Y" }}</time></p>
                            </td>
                        </tr>
                    </table>
                </div>
    
                <div class="middle">
                    <div class="btn-grey">
                        {% if expired %}
                            <i class="icon icon-delete"></i>
                            Closed
                        {% else %}
                            <i class="fa fa-check green-text"></i>
                            Open
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endwith %}