{% load staticfiles %}
{% load project_tags %}

<article class="campaign campaign-poll public-campaign block-line-half col-lg-4 col-md-6">
	<div class="background">
		<header class="article-header">
			<h3 class="header-medium secondary">{{ poll.name }}</h3>
			<p class="highlight bold">{{ poll.campaign.project.title }}</p>
		</header>

		<div class="content data">
			{% if poll.description %}
                {{ poll.description|urlize }}
            {% else %}
                No poll description
            {% endif %}
		</div>


        <footer>
            <div class="row">
                <div class="col-xs-12">
                    {% if request.user.is_authenticated %}
                        {% if not poll.campaign.has_expired %}
                            <a href="{{poll|get_poll_token_link:request.user}}" target="_blank" class="btn">Participate</a>
                        {% else %}
                            {% with results_url=poll.get_results_url %}
                                {% if results_url %}
                                    <a href="{{ results_url }}" target="_blank" class="btn">View results</a>
                                {% else %}
                                    <div class="btn disabled btn-default">No results</div>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        <a href="/activitytracker/login/?next={% url 'campaign-details' campaign.project.pk campaign.pk %}" class="btn">Participate</a>
                    {% endif %}
                </div>
            </div>
        </footer>
	</div>
</article>