{% load url from future %}
{% load staticfiles %}
{% load project_tags %}

<article class="campaign public-campaign block-line-half clear-3">
	<div class="background">
		<header class="article-header">
			<h3 class="header-medium secondary" title="{{ campaign.name }}">{{ campaign.name|truncatechars:50 }}</h3>
			<p class="highlight bold">
                <a href="/projects/{{ campaign.project_id }}" class="campaign-project-teaser-link" title="{{ campaign.project.title }}">{{ campaign.project.title|truncatechars:30 }}</a>
            </p>

			<div class="tooltip-container">
				<a href="#nowhere" class="open-tooltip-button"><i class="icon icon-more-options"></i></a>
				<div class="custom-tooltip">
					<ul>
						<li>
							<a href="{% url 'campaign-details' campaign.project.pk campaign.pk %}">More about this campaign</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content dates">
			<div>
				<i class="icon icon-start"></i>
				<p><time datetime="{{ campaign.starts|date:"Y-m-d" }}">{{ campaign.starts|date:"d-m-Y" }}</time></p>
			</div>
            {% if campaign.close_time %}
				<div>
                	<i class="icon icon-close2"></i>
                	<p><time datetime="{{ campaign.close_time|date:"Y-m-d" }}">{{ campaign.close_time|date:"d-m-Y" }}</time></p>
				</div>
            {% endif %}
		</div>

		<div class="content data">
			<table>
				<tr class="row">
					<td class="col-xs-5">
						<i class="icon icon-add-member"></i>
						<p>Participants</p>
					</td>
					<td class="col-xs-7">
						<p class="bold">{{ campaign.count_participants }}</p>
					</td>
				</tr>

				<tr class="row">
					<td class="col-xs-5">
						<i class="icon icon-time"></i>
						<p>Days left</p>
					</td>
					<td class="col-xs-7">
						<p class="bold">{{ campaign|print_days_left }}</p>
					</td>
				</tr>

                <tr class="row">
					<td class="col-xs-5">
						<i class="icon icon-cloudcoins"></i>
						<p>CloudCoins</p>
					</td>
					<td class="col-xs-7">
						<p class="bold">{{ campaign.answer_value|default:0|floatformat:0 }}</p>
					</td>
				</tr>
			</table>
		</div>

		<footer>
            <div class="row">
                <div class="col-xs-12">
                    <a href="{% url 'campaign-details' campaign.project.pk campaign.pk %}"
                       class="btn-transparent col-xs-12">See all info</a>

                    {% if not campaign.has_expired %}
                        {% for poll in campaign.polls.all %}
                            <a href="{% if request.user.is_authenticated %}{{ poll|get_poll_token_link:request.user }}{% else %}/activitytracker/login/?next={% url 'campaign-details' campaign.project.pk campaign.pk %}{% endif %}"
                               class="btn col-xs-12"
                               {% if request.user.is_authenticated %}target="_blank"{% endif %}>{% if request.user|has_participated_to:campaign %}View results{% else %}Participate{% endif %}</a>
                        {% empty %}
                            <div style="margin-bottom: 39.5px; clear: both;"></div>
                        {% endfor %}
                    {% else %}
                        {% with results_url=campaign.get_results_url %}
                            {% if results_url %}
                                <a href="{% if request.user.is_authenticated %}{{ results_url }}{% else %}/activitytracker/login/?next={% url 'campaign-details' campaign.project.pk campaign.pk %}{% endif %}"
                                    class="btn col-xs-12"
                                    {% if request.user.is_authenticated %}target="_blank"{% endif %}>View results</a>
                            {% else %}
                                <div class="btn col-xs-12 disabled btn-default">No results</div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
		</footer>
	</div>
</article>