{% load url from future %}
{% load staticfiles %}
{% load project_tags %}

<article class="campaign public-campaign block-line-half col-lg-4 col-md-6 clear-3">
	<div class="background">
		<header class="article-header">
			<h3 class="header-medium secondary">{{campaign.name}}</h3>
			<p class="highlight bold">{{campaign.project.title}}</p>

			<div class="tooltip-container">
				<a href="#nowhere" class="open-tooltip-button"><i class="icon icon-more-options"></i></a>
				<div class="custom-tooltip">
					<ul>
						<li>
							<a href="{% url 'campaign-details' campaign.project.pk campaign.pk %}">More about this campaign</a>
						</li>
						<li><a href="#nowhere">Participate</a></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content dates">
			<div>
				<i class="icon icon-start"></i>
				<p><time datetime="{{ campaign.starts|date:"Y-m-d" }}">{{ campaign.starts|date:"d-m-Y" }}</time></p>
			</div>
            {% if campaign.expires %}
				<div>
                	<i class="icon icon-close2"></i>
                	<p><time datetime="{{ campaign.expires|date:"Y-m-d" }}">{{ campaign.expires|date:"d-m-Y" }}</time></p>
				</div>
            {% endif %}
		</div>

		<div class="content data">
			<table>
				<tr class="row">
					<td class="col-xs-5">
						<i class="icon icon-add-member"></i>
						<p>Participants</p>
					</td>
					<td class="col-xs-7">
						<p class="bold">-</p>
					</td>
				</tr>

				<tr class="row">
					<td class="col-xs-5">
						<i class="icon icon-time"></i>
						<p>Days left</p>
					</td>
					<td class="col-xs-7">
						<p class="bold">{{ campaign|print_days_left }}</p>
					</td>
				</tr>
			</table>
		</div>

		<footer>
			<a href="{% url 'campaign-details' campaign.project.pk campaign.pk %}" class="btn-transparent">See all info</a>
		</footer>
	</div>
</article>