{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}
{% load staticfiles %}
{% block title %}{{ blog.title }}{% endblock %}
{% block section_class %}page-public-project-overview{% endblock %}
{% block wrapper %}{% endblock %}

{% block content %}
    <section class="container">
        <header style="margin: 40px 0;">
            <h2 class="header-large secondary">{{ blog.title }}</h2>

        </header>

        <main>
            <p style="margin-bottom: 40px; color: #555;"><a href="/projects/{{ blog.project_id }}/">{{ blog.project.title }}</a>
                | Posted by {{ blog.author }} on {{ blog.created|date:"N d, Y" }}</p>

            <div class="content">
                {% autoescape off %}
                    {{ blog.content }}
                {% endautoescape %}
            </div>
        </main>
    </section>
{% endblock %}