<article class="blogpost public-blogpost col-lg-4 col-md-6 block-image">
	<div class="background-image" style="{% if blog.image_link %}background-image: url({{ blog.image_link }});{% endif %}">

		<div class="content">
			<div class="vertical-align">
				<div class="middle">
					<a href="{{ blog.get_absolute_url }}" class="btn">Show blog post</a>
				</div>
			</div>
		</div>
	</div>

	<div class="background">
		<header>
			<h2 class="header-medium secondary">{{ blog.title }}</h2>
			<time datetime="{{ blog.created|date:"Y-m-d" }}" class="meta">{{ blog.created|date:"Y-m-d" }}</time>
		</header>
	</div>
</article>