{% with profile=user.gamification_profile %}
    <div class="gamification-info">
        Level <span class="current-level">#{{ profile.level }}</span><br />
        <div>Level up progress:
            <div class="percentage">{{ profile.extra_points }}/{{ profile.next_level_points }}</div>
            <div class="progress-container">
                <div class="progress-wrap" data-progress-percent="{{ profile.progress_to_next_level }}">
                    <div class="progress-bar" style="width: {{ profile.progress_to_next_level }}%;"></div>
                </div>
            </div>
        </div>
    </div>
{% endwith %}