a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download) {
    transition: color 0.3s ease-in-out;
}

a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download):hover, a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download):focus {
    color: #38173f;
}

.global-nav a:hover {
    color: #fff !important;
}

.coming-soon {
    text-transform: uppercase;
    font-size: .8em;
    background: yellow;
    padding: 5px;
    color: #777;
    border-radius: 5px;
    display: inline-block;
    margin-left: 15px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    margin-bottom: 0 !important;
}

.breadcrumb {
    background: none;
}

h1 {
    color: #fff;
    margin-top: 20px;
}

.hidden {
    display: none;
}

