/* General use classes */
.green-text {
    color: #2ECC71;
}

.centered {
    text-align: center;
}

.pagination .current {
    background: #28102d;
    color: #fff;
    cursor: default;
}

.overview-buttons button {
    min-width: 150px;
}

.project-search input {
    vertical-align: top;
    color: #ddd;
    padding-right: 40px;
}

.project-search input[type="search"] {
    height: 25px;
}

.idea-container .comment {
    margin: 20px 0 20px 40px;
}

.idea-container .comment .comment-header {
    color: #aaa;
}
.idea-container .comment .comment-header .time-info {
    text-align: right;
}

.comment-form  {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.comment-form  input[name="comment"] {
    display: inline-block;
    width: calc(100% - 180px);
    margin-right: 20px;
}
.comment-form  input[type="submit"] {
    width: 100px;
    display: inline-block;
    height: 20px;
    vertical-align: top;
}

.info {
    color: #aaa;
}

/* Rating */
.rating-input {
    color: #1C2B36;
}

.rating-input.active:hover {
    color: red;
    cursor: pointer;
}

/* Profile overview */

.custom-tooltip a {
    color: #ddd !important;
}

.custom-tooltip a:hover, .custom-tooltip a:focus {
    color: whitesmoke !important;
}

.public-overview-data .vertical-align .middle table tr td {
    width: 50% !important;
}

.public-overview-data.public-project-overview-data .vertical-align .middle:first-of-type {
    width: 50%;
}

.public-overview-data.public-project-overview-data .vertical-align .middle:nth-of-type(2) {
    width: 40%;
}

.public-overview-data.public-project-overview-data .vertical-align .middle:nth-of-type(3) {
    width: 10%;
}

/* Project teasers */
.public-overview-data.public-project-campaign-overview-data .vertical-align .middle:first-child {
    width: 40%;
}

section.user-dashboard-projects-content {
    width: 100%;
}

.project .background {
    border-top: 1px solid #ebebeb;
}

.project .background .background-image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    z-index: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

/* Project details, ideas & comments */
.public-project-overview-content > header.main-header {
    background-position: center;
}

.idea .data .fa {
    color: #b1b1b1;
    margin-right: 10px;
}

.like-button button {
    border: none;
    background: none;
}

.form-post-idea input[type="submit"] {
    width: calc(100% - 120px);
    border-radius: 5px 0 0 5px;
}

.form-post-idea .hide-idea-form {
    border-radius: 0 5px 5px 0;
}

.campaign .article-header h3 {
    width: calc(100% - 25px);
    min-height: 50px;
}

.campaign footer.empty {
    padding: 0;
    border-bottom: none !important;
}

/* Polls & documents */
.header-medium.campaign-bookmark {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 300px;
    margin: 20px 15px;
}

.campaign-poll .article-header {
    margin-bottom: 0 !important;
}

.campaign .content.data a {
    word-wrap: break-word;
}

/* Terms and Conditions */
.terms-and-conditions {
    text-align: justify;
}

.terms-and-conditions h1 {
    color: #424242;
}

/* Notifications */
.notification form {
    display: inline-block;
}

.notification-link {
    margin: 20px 20px 5px 0;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    color: #7d3c8c;
    background: none;
    border: none;
}

.notification-link > .icon {
    margin-top: 1px;
    vertical-align: top;
}

.notification-link:hover {
    color: #424242 !important;
}

.empty-dashboard {
    color: whitesmoke;
    font-weight: 300;
}

.empty-dashboard a {
    text-decoration: underline;
}

/* Completed campaigns - fix #125 */
.completed-campaigns {
    font-size: 15px;
}

/* Search term header - fix #153 */
.search-term-header {
    word-wrap: break-word;
    width: 100%;
}

.btn.btn-link {
    margin: 0;
    padding: 0;
    text-transform: none;
    font-weight: 300;
    border: none !important;
    background: none !important;
}

/* Fixed #209 */
.form-post-idea.form-full input[type="submit"] {
    width: calc(100% - 195px);
}

.form-post-idea.form-full .btn.pull-right {
    border-radius: 0 5px 5px 0;
}

.project.public-project .header-medium {
    height: 64px;
    overflow: hidden;
    position: relative;
}

.project.public-project .header-medium > .fadeout {
    bottom: 0;
    width: 100%;
    height: 4px;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Rewards */
.reward-teaser .reward-content {
    min-height: 60px;
}

.reward-teaser .running-out-warning {
    color: #ff5071;
}

/* Noty */
#noty_top_layout_container > li {
    box-shadow: none  !important;
    border: 1px solid #aaa  !important;
}

#noty_top_layout_container > li .noty_message {
    background: rgba(22, 160, 133, 0.8) !important;
    font-size: 18px  !important;
    color: white  !important;
}

#noty_top_layout_container > li .noty_message.emotion-N {
    background: rgba(231, 76, 60, 0.8) !important;
}