.centered {
    text-align: center;
}

.pagination {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.pagination .current {
    background: #1C2B36;
    color: #fff;
}

.follow-button {
    min-width: 100px;
}

.project-search input {
    vertical-align: top;
}

.project-search input[type="search"] {
    height: 25px;
}

form.ct_projects_form input[type="text"], form.ct_projects_form textarea {
    width: 100%;
}

.info {
    color: #aaa;
}

/* Rating */
.rating-input {
    color: #1C2B36;
}

.rating-input.active:hover {
    color: red;
    cursor: pointer;
}