{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content %}

    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <img class="svg" src="{% static " img/icons/icon-projects.svg" %}">
                <h1 class="header-large">Projects</h1>
            </div>

            <div class="middle last">
                <p class="project-counter"><span>{{ n_of_projects }}</span></p>

                <p class="project-counter">Projects</p>
            </div>
        </div>
    </header>

    {% with projects=page_obj.object_list show_new=True %}
        {% include "ct_projects/project/list.html" %}
    {% endwith %}

    {% include "ct_projects/util/paginator.html" %}
{% endblock %}