{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% block title %}Dashboard - Projects{% endblock %}
{% block dashboard_content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <i class="icon icon-project"></i>
                <h1 class="header-large">Projects</h1>
            </div>

            <div class="middle last">
                <p class="project-counter"><span>{{ n_of_followed }}</span></p>

                <p class="project-counter">Project{% if n_of_followed != 1 %}s{% endif %}</p>
            </div>
        </div>
    </header>

    {% if projects %}
        {% with has_new=True two_columns=True %}
            {% include "ct_projects/project/list.html" %}
        {% endwith %}
    {% else %}
        <section class="user-dashboard-projects-content">
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="color: #eee;"><i class="fa fa-frown-o"></i> Your dashboard seems empty</h4>
                    <p class="empty-dashboard">Discover the <a href="{% url 'all-projects' %}">latest projects</a> on CloudTeams!</p>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static " js/userdashboardprojects-dev.js" %}"></script>
{% endblock %}