{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}

{% block content %}
{% autoescape off %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'all-projects' %}">Projects</a>
        </li>
        <li>
            <a href="{% url 'project-details' project.pk %}">{{project.title}}</a>
        </li>
    </ul>

    <div class="clearfix">
        <img class="pull-left" scr="{{project.logo}}" height="60" />
        <h1 class="pull-left">{{project.title}}</h1>
        <div class="pull-right">
            {% include "ct_projects/project/follow-form.html" %}
        </div>
    </div>

    <p class="category">{{project.application_type}} | {{project.category}}</p>
    {% if project.description %}
        <p>{{project.description}}</p>
    {% endif %}

    {% if project.managers %}
        By: {{project.managers}}
    {% endif %}

    {% with idea_count=project.ideas.all.count %}
        <p class="info">{{project|count_followers}} followers - {{idea_count}} idea{{idea_count|pluralize}}</p>
    {% endwith %}

    {% for idea in project.ideas.all %}
        {% include "ct_projects/idea/teaser.html" %}
    {% endfor %}

    <a href="{% url 'post-idea' project.pk %}" class="btn btn-primary">+ Post idea</a>
{% endautoescape %}
{% endblock %}
