{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}
{% load staticfiles %}
{% block title %}{{ project.title }}{% endblock %}
{% block section_class %}page-public-project-overview{% endblock %}
{% block wrapper %}{% endblock %}

{% block content %}
    {% with invited_campaigns=project|get_invited_campaigns:request.user %}
        <main>
            <section class="public-project-overview-content">
                <header class="main-header" {% if project.logo %}style="background-image: url({{project.logo}});"{% endif %}>
                    <div class="vertical-align">
                        <div class="middle">
                            <h1 class="header-extra-large">{{ project.title }}</h1>
                            {# <p>Project by <span>team name</span></p> #}
                        </div>
                    </div>
                </header>
                <div class="submenu">
                    <div class="container">
                        <ul class="menu-subpage public">
                            <li id="link-to-subpage-1" class="link-to-subpage {% if not default_campaign and not tab %}active{% endif %}">About this project</li>
                            <li id="link-to-subpage-2" class="link-to-subpage {% if default_campaign %}active{% endif %}">Campaigns</li>
                            <li id="link-to-subpage-3" class="link-to-subpage{% if tab == "rewards" %} active{% endif %}">Rewards</li>
                            <li id="link-to-subpage-4" class="link-to-subpage{% if tab == "ideas" %} active{% endif %}">Customer ideas</li>
                            <li id="link-to-subpage-5" class="link-to-subpage">Blog posts</li>
                        </ul>
                    </div>
                </div>

                <section id="subpage-1" class="subpage {% if not default_campaign and not tab %}active{% endif %}">
                    {% include "ct_projects/project/overview.html" %}

                    <div class="container">
                        <div class="content about">
                            <div class="row">
                                <div class="col-md-12">
                                    <header class="content-header">
                                        <div class="vertical-align">
                                            <h2 class="header-large secondary">About this project</h2>
                                            <p class="page-subtitle">{{ project.category }}</p>
                                            <i class="icon {{ project.icon }}"></i>
                                        </div>
                                    </header>

                                    <div class="project-images">

                                    </div>

                                    {% if project.description %}
                                        <h3 class="header-extra-small">Description</h3>
                                        <p>{{ project.description|youtube_embed_url|custom_urlize|safe|linebreaks }}</p>
                                    {% else %}
                                        <p>No project description</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="content related-projects">
                            <header class="content-header">
                                <div class="vertical-align">
                                    <h2 class="header-large secondary">Related projects</h2>
                                </div>
                            </header>

                            <div class="row">
                                {% with projects=project.get_related %}
                                    {% include "ct_projects/project/list.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </section>

                <section id="subpage-2" class="subpage">
                    <header>
                        <div class="container">
                            <h2 class="header-large secondary">Campaigns</h2>
                        </div>
                    </header>

                    <div class="submenu">
                        <div class="container">
                            <ul class="menu-subsection public">
                                {% if request.user.is_authenticated %}
                                    <li id="link-to-subsection-1" class="link-to-subsection{% if invited_campaigns %} active{% endif %}">Invited</li>
                                {% endif %}
                                <li id="link-to-subsection-2" class="link-to-subsection{% if not invited_campaigns %} active{% endif %}">Running</li>
                                <li id="link-to-subsection-3" class="link-to-subsection">Closed</li>
                            </ul>
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                        <section id="subsection-1" class="subsection{% if invited_campaigns %} active{% endif %}">
                            <div class="container">
                                <div class="content">
                                    <div class="row">
                                        {% for campaign in invited_campaigns %}
                                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                                {% include "ct_projects/campaign/teaser.html" %}
                                            </div>
                                        {% empty %}
                                            <p class="col-xs-12" style="color: #999;">No running campaigns in this project</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}

                    <section id="subsection-2" class="subsection{% if not invited_campaigns %} active{% endif %}">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    {% for campaign in project.get_running_campaigns %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 ">
                                            {% include "ct_projects/campaign/teaser.html" %}
                                        </div>
                                    {% empty %}
                                        <p class="col-xs-12" style="color: #999;">No running campaigns in this project</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="subsection-3" class="subsection">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    {% for campaign in project.get_closed_campaigns %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 ">
                                            {% include "ct_projects/campaign/teaser.html" %}
                                        </div>
                                    {% empty %}
                                        <p class="col-xs-12" style="color: #999;">No closed campaigns in this project</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                <section id="subpage-3" class="subpage {% if tab == "rewards" %}active{% endif %}">
                    <div class="container">
                        <div class="content about">
                            <header>
                                <div style="margin-bottom: 30px;">
                                    <h2 class="header-large secondary">Rewards</h2>
                                </div>
                            </header>

                            <div class="row">
                                {% for reward in project.rewards.all %}
                                    {% include 'ct_projects/reward/teaser-alt.html' %}
                                {% empty %}
                                    <p class="col-xs-12" style="color: #999;">No rewards from this project.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                <section id="subpage-4" class="subpage {% if tab == "ideas" %}active{% endif %}">
                    <div class="container">
                        <div class="content about">
                            <header>
                                <h2 class="header-large secondary" style="margin: 30px 0;">Customer ideas</h2>

                                {% if request.user.is_authenticated %}
                                    <div class="btn show-idea-form">Send idea</div>
                                {% else %}
                                    <a class="btn" href="{% url 'login' %}?next=/projects/{{ project.id }}/">Login to share an idea</a>
                                {% endif %}
                                <form action="{% url 'post-idea' project.pk %}" method="POST" class="form-post-idea" style="display: none;">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{idea_form.as_p}}

                                            <div class="clearfix">
                                                <input type="submit" class="btn btn-primary pull-left" value="Post idea" />
                                                <div class="hide-idea-form btn btn-transparent">Cancel</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </header>
                        </div>

                        <div id="ideas-container" data-projectid="{{ project.pk }}">
                            <i class="loader-general loader-general-gray"></i> <span class="loader-message">Loading project ideas...</span>
                        </div>
                    </div>
                </section>

                <section id="subpage-5" class="subpage" style="padding-top: 30px;">
                    <div class="container">
                        <div class="content about">
                            <header>
                                <h2 class="header-large secondary">Blog posts</h2>
                            </header>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {% with blogs=project.blogs.all %}
                                    {% if blogs %}
                                        <div class="row">
                                            {% for blog in blogs %}
                                                {% include 'ct_projects/blogposts/teaser.html' %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p style="color: #999;">No blog posts published.</p>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </section>

                <section id="subpage-6" class="subpage campaign-info-container {% if default_campaign %}active{% endif %}">
                    {% if default_campaign %}
                        {% with campaign=default_campaign %}
                            {% include "ct_projects/campaign/content.html" %}
                        {% endwith %}
                    {% endif %}
                </section>
            </section>
        </main>
    {% endwith %}

    {% include 'ct_projects/reward/purchase-form.html' %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/publicprojectoverview-dev.js" %}"></script>
    <script type="text/javascript" src="{% static "ct_projects/js/rewards.js" %}?v=20170126.2"></script>
{% endblock %}
