            {% load project_tags %}

            {% if request.user.is_authenticated %}
                {% with is_followed=project|is_followed_by:request.user %}
                    <form action="{% if is_followed %}{% url 'unfollow-project' project.pk %}{% else %}{% url 'follow-project' project.pk %}{% endif %}" method="POST">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn {% if link_style %}btn-link{% else %}follow-button{% endif %}"
                                title="{% if is_followed %}Unfollow project{% else %}Follow project{% endif %}">

                        {% if not menu_entry %}
                            <i class="icon icon-{% if is_followed %}invite{% else %}follower{% endif %}"></i>
                        {% endif %}
                        
                        {% if is_followed %}{{ following_text|default:"Following" }}{% else %}Follow{% endif %}
                        </button>
                    </form>
                {% endwith %}
            {% else %}
                <a href="/activitytracker/login/?next={% url 'project-details' project.pk %}" class="btn {% if link_style %}btn-link{% else %}btn-success follow-button{% endif %}">Follow</a>
            {% endif %}