        {% load staticfiles %}

		<article class="project add-item col-md-6 col-xs-12">
			<a href="public-projects-logged-in.php" alt="add new project">
				<div class="background">
					<div class="vertical-align">
						<div class="middle">
							<div class="add-project-button">
								<div class="vertical-align">
									<div class="middle">
										<img class="icon" src="{% static "img/icons/icon-add-fill.svg" %}">
									</div>
								</div>
							</div>
							<h2 class="header-small secondary">Add new project</h2>
						</div>
					</div>
				</div>
			</a>
		</article>