            {% load staticfiles %}

            <header class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-1 col-md-10">
							<img src="{% static 'ct_projects/img/project-non-logged-in.svg' %}">
						</div>
					</div>
					<h1 class="header-extra-large public">Cloudteams</h1>
					<p class="public-page-subtitle">Collect rewards for giving feedback</p>
					<div class="choice">
						<a href="{% url 'how-it-works' %}" class="btn big secondary">How it works</a>
						<a href="#browse-projects" class="btn big">Browse projects</a>
					</div>
				</div>

				<div class="incentive">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<p>Are you a developer? <a href="/">Submit your project</a></p>
							</div>
						</div>
					</div>
				</div>
			</header>