{% load staticfiles %}
{% load project_tags %}

<div class="public-overview-data public-project-overview-data">
	<div class="container">
		<div class="vertical-align">
            {% if request.user.is_authenticated %}
                {% with is_followed=project|is_followed_by:request.user %}
                    {% if is_followed %}
                        <div class="middle">
                            <table>
                                <tr>
                                    <td>
                                        <img class="icon svg" src="{% static "img/icons/icon-pending.svg" %}">
                                        <p>My invites</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img class="icon svg" src="{% static "img/icons/icon-rewards.svg" %}">
                                        <p>My rewards won</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img class="icon svg" src="{% static "img/icons/icon-campaign-participated.svg" %}">
                                        <p>My campaigns answered</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}

			<div class="middle">
				<table>
					<tr>
						<td>
							<img class="icon svg" src="{% static "img/icons/icon-followers.svg" %}">
							<p>Followers</p>
						</td>
						<td>
							<p>{{ project.followed.all.count }}</p>
						</td>
					</tr>

					<tr>
						<td>
							<img class="icon svg" src="{% static "img/icons/icon-campaigns.svg" %}">
							<p>Campaigns</p>
						</td>
						<td>
							<p>{{ project.campaigns.all.count }}</p>
						</td>
					</tr>

					<tr>
						<td>
							<img class="icon svg" src="{% static "img/icons/icon-seen.svg" %}">
							<p>Created on</p>
						</td>
						<td>
							<p><time datetime="{{project.created|date:'d-m-Y'}}">{{project.created|date:'d-m-Y'}}</time></p>
						</td>
					</tr>
				</table>
			</div>

			<div class="middle">
				{% include "ct_projects/project/follow-form.html" %}
			</div>
		</div>
	</div>
</div>