{% extends "ct_projects/base.html" %}
{% load url from future %}
{% load project_tags %}

{% block title %}Post an idea{% endblock %}
{% block content %}
{% autoescape off %}

    <h2>{{project.title}} | Post an idea</h2>

    <form action="." method="POST" class="ct_projects_form form-post-idea form-full">{% csrf_token %}
        {{form.as_p}}

        <div class="clearfix">
            <input type="submit" class="btn btn-primary pull-left" value="Post idea" />
            <a href="{% url 'project-details' project.pk %}" class="btn pull-right btn-transparent">Back to project</a>
        </div>
    </form>
{% endautoescape %}
{% endblock %}