{% load url from future %}
{% load staticfiles %}

<article class="project public-project {% if not two_columns %}col-lg-4{% endif %} col-md-6 col-xs-12 block-line-half">
	<div class="background">
        {% if project.logo %}
            <a href="{% url 'project-details' project.pk %}">
                <div class="background-image" style="background-image: url({{ project.logo }});">
                    <div class="square icon {{ project.icon }}"></div>
                </div>
            </a>
        {% endif %}

		<header>
            <a href="{% url 'project-details' project.pk %}">
			    <h3 class="header-medium secondary" title="{{ project.title }}">{{ project.title }} <span class="fadeout"></span></h3>
            </a>

			<div class="tooltip-container">
				<a href="#" class="open-tooltip-button"><i class="icon icon-more-options"></i></a>
				<div class="custom-tooltip">
					<ul>
						<li>
							<a href="{% url 'project-details' project.pk %}">More about this</a>
						</li>
						<li>
                            {% with link_style=True %}
                                {% include 'ct_projects/project/follow-form.html' %}
                            {% endwith %}
                        </li>
					</ul>
				</div>
			</div>
		</header>

        {% with idea_count=project.ideas.count campaign_count=project.get_running_campaigns|length followed_count=project.followed.all.count %}
            <div class="content">
                <table>
                    <tr class="row">
                        <td class="col-xs-5">
                            <i class="icon icon-follower"></i>
                            <p>Followers</p>
                        </td>
                        <td class="col-xs-7">
                            <p class="bold">{{ followed_count }}</p>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-5">
                            <i class="icon icon-campaign"></i>
                            <p>Running campaigns</p>
                        </td>
                        <td class="col-xs-7">
                            <p class="bold">{{ campaign_count }}</p>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-5">
                            <i class="icon icon-reward"></i>
                            <p>Rewards</p>
                        </td>
                        <td class="col-xs-7">
                            <p class="bold">{{ project.count_rewards|default:"No" }}</p>
                        </td>
                    </tr>
                </table>
            </div>

            <!--<div class="content last">
                <table>
                    <tr class="row">
                        <td class="col-xs-5">
                            <i class="icon icon-pending-accepted"></i>
                            <p>Invites</p>
                        </td>
                        <td class="col-xs-7">
                            <p class="bold">-</p>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-5">
                            <i class="icon icon-campaign-participated"></i>
                            <p class="completed-campaigns">Completed campaigns</p>
                        </td>
                        <td class="col-xs-7">
                            <p class="bold">-</p>
                        </td>
                    </tr>
                </table>
            </div>-->
        {% endwith %}

		<footer>
			<a href="{% url 'project-details' project.pk %}" class="btn">Show project</a>
		</footer>
	</div>
</article>

