				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
                         <li class="active"><a href="#intro">
							<i class="fa fa-info"></i>
							<span class="hidden-tablet">Introduction</span>
						</a></li>

                        <li><a href="#basic-info-step">
							<i class="fa fa-info"></i>
							<span class="hidden-tablet">Basic info</span>
						</a></li>

                        <li><a href="#work-step">
							<i class="fa fa-suitcase"></i>
							<span class="hidden-tablet">Your job</span>
						</a></li>

                        <li><a href="#influences">
							<i class="fa fa-lightbulb-o"></i>
							<span class="hidden-tablet">Influences</span>
						</a></li>

                        <li><a href="#devices-and-platforms-step">
							<i class="fa fa-wrench"></i>
							<span class="hidden-tablet">Devices and platforms</span>
						</a></li>

                        <li><a href="#you-and-tech">
							<i class="fa fa-cloud"></i>
							<span class="hidden-tablet">You & tech</span>
						</a></li>
                    </ul>
				</div>