/* My profile view */
.profile-view {
    margin-top: 20px;
}

.profile-view .profile-avatar {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-view .personal-info {
    margin-bottom: 20px;
}

.profile-view .name-age {
    font-size: 150%;
}

.profile-view .inline-row {
    display: inline-block;
    vertical-align: top;
}
.profile-view .inline-edit {
    display: inline-block;
    color: #777;
    text-decoration: none;
}

.profile-view .geek-level {
    font-size: 18px;
}
.profile-view h4 {
    font-size: 20px;
}

.profile-view .opinions-container {
    margin-bottom: 20px;
}

/* Chosen */
.chosen-single {
    background: none !important;
    border: 1px solid #b1b1b1 !important;
    box-shadow: none !important;
}

.chosen-single:hover,
.chosen-single:active {
    border-color: #7d3c8c !important;
    transition: border-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

.chosen-single span {
    padding: 5px 15px !important;
    font-size: 16px;
    color: #b1b1b1;
}

.chosen-container {
    min-width: 300px !important;
}

ul.main-menu i {
    min-width: 20px;
    text-align: center;
}

.create-profile-form {
    /*height: calc(100vh - 280px);
    overflow-y: scroll;*/
}

/* Slider */

.page-container {
    background-color: #f7f7f7;
}

/* Field layout */
.create-profile-form input {
    color: #b1b1b1;
}

#avatar-container img {
    width: 100%;
    max-height: 100%;
}

.save-error-retry {
    cursor: pointer;
}

.wizard-page-container h2 {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.chosen-single {
    height: auto !important;
}

.chosen-single span {
    padding: 10px;
    font-size: 18px;
}

.centered-fields {
    /*width: 1200px;
    margin-left: calc(50% - 600px);*/
}

.centered-fields  .field {
    padding: 10px 0;
}

.centered-fields  .field label {
    min-width: 400px;
    display: inline-block;
}

.wizard-page-container .text-center {
    text-align: center;
    margin-top: 20px;
}

.wizard-page-container li {
    list-style: none;
    color: #424242;
}

.wizard-page-container li h2 {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ebebeb;
}

.wizard-page-container li:first-of-type h2 {
    border-top: none;
}

/* Intro & avatar */
#intro h2 {
    margin-top: 0;
}

.avatar-img {
    background-size: cover;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* NiceOpt */
.opt-container.inline {
    display: inline-block;
}

.opt-container .option {
    display: inline-block;
    padding: 5px 10px;
    height: 100px;
    margin: 0 10px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    vertical-align: top;
}

.opt-container.active .option.option-active {
    background: #38173f;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.opt-container.active .option:hover {
    background: rgba(56, 23, 63, 0.5);
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.opt-container .option span {
    display: block;
    margin: 5px 0;
}

.opt-container .number-icon {
    font-style: normal;
    display: block;
    font-size: 26px;
    margin: 0 5px 5px 5px;
    padding: 15px 0;
    background: #aaa;
    border-radius: 50%;
    color: #eee;
}
/* Basic info */
#avatar-container {
    height: 200px;
    border: 1px dotted #aaa;
}

#trigger-avatar-upload {
    width: 100%;
    border-radius: 0 0 5px 5px !important;
}

/* Brand opinions */
#tech-opinion {
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.profile-view .brand-opinions-field {
    margin-top: 20px;
}

.opinion-col {
    margin-top: 50px;
}

.opinion-col-right {
    text-align: right;
}

.col-brand {
    text-align: center;
}

.col-brand .brand-icon {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100px;
}

.send-opinion {
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.send-opinion:hover {
    color: #BFBFBF;
}

.send-opinion.opinion-positive:hover {
    color: #26A65B;
}

.send-opinion.opinion-negative:hover {
    color: #CF000F;
}

.send-opinion.opinion-indifferent {
    display: inline-block;
    margin-top: 20px;
}

/* Autocomplete */
.ui-autocomplete-input {
    border-radius: 0.25rem 0.25rem 0 0;
}

.ui-autocomplete {
    background: #fff;
    border: 1px solid #7d3c8c;
    position: absolute !important;
    max-height: 300px;
    overflow-y: auto;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item:hover {
    background-color: #38173f;
    color: #fff;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.ui-menu, .ui-menu > .ui-menu-item, .ui-menu-item > a {
    max-width: 660px !important;
}
