        {% load staticfiles %}

        <header class="no-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="/" alt="home">
							<img src="{% static "img/logo-purple-beta.svg" %}" class="logo svg" alt="Cloudteams logo">
						</a>
						{% if register_button %}
							<a href="/projects/register/who-are-you" alt="log in" class="btn login secondary">Register</a>
						{% elif login_button %}
							<a href="/projects/login/who-are-you" alt="log in" class="btn login secondary">Log in</a>
                        {% else %}
							<a href="/projects/login/who-are-you" alt="log in" class="btn login secondary">Log in</a>
                            <a href="/projects/register/who-are-you" alt="log in" class="btn login secondary">Register</a>
						{% endif %}

                        <a href="/projects/how-it-works" class="how-about secondary">how it works</a>
                        <a href="https://about.cloudteams.eu/" class="how-about secondary">about</a>

					</div>
				</div>
			</div>
		</header>