        {% load staticfiles %}

		<header>
			<nav class="global-nav">
				<div class="container">
					<ul>
						<li class="brand">
							<div class="vertical-align">
								<div class="middle">
									<a href="public-projects-logged-in.php" alt="home">
										<img src="{% static "img/logo-white.svg" %}" class="logo svg" alt="Cloudteams logo">
									</a>
								</div>
							</div>
						</li>

						<li class="search">
							<div class="vertical-align">
								<form class="project-search middle" action="/projects/" method="GET">
									<input name="q" class="input-search" type="text" placeholder="Search projects" value="{{ q }}" autocomplete="false" />
									<img src="{% static "img/icons/icon-search.svg" %}" class="icon-search svg" alt="Search icon">
								</form>
							</div>
						</li>

						<li>
							<div class="vertical-align">
								<div class="middle">
									<a href="{% url 'all-projects' %}">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-projects.svg" %}">
										Projects
									</a>
								</div>
							</div>
						</li>

						<li>
							<div class="vertical-align">
								<div class="middle">
									<a href="/notifications/">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-notifications.svg" %}">
										Notifications
									</a>
								</div>
							</div>
						</li>

						<li class="profile">
							<div class="vertical-align">
								<div class="middle">
									{% if request.user.is_authenticated %}
                                            <img class="icon menu-icon svg" src="{% static "img/icons/icon-profile.svg" %}">
                                            <a href="/profile/">{{ request.user.username }}</a>

										    <i class="fa fa-angle-down"></i>
                                        {% else %}
                                            <a href="/activitytracker/login/?next=/profile/">Login</a>
                                        {% endif %}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>