        {% load staticfiles %}

		<header>
			<nav class="global-nav">
				<div class="container">
					<ul>
						<li class="brand">
							<div class="vertical-align">
								<div class="middle">
									<a href="{% url 'all-projects' %}" alt="home">
										<img src="{% static "img/logo-white-beta.svg" %}" class="logo svg" alt="Cloudteams logo">
									</a>
								</div>
							</div>
						</li>

						<li class="search desktop-only">
							<div class="vertical-align">
								<form class="project-search middle" action="/projects/" method="GET">
									<input name="q" class="input-search" type="text" placeholder="Search projects" value="{{ q }}" autocomplete="false" />
									<i class="icon icon-search"></i>
								</form>
							</div>
						</li>

						<li>
							<div class="vertical-align">
								<div class="middle">
									<a href="{% url 'all-projects' %}">
										<i class="icon icon-project"></i>
										<span class="tablet-only">All projects</span>
									</a>
								</div>
							</div>
						</li>

						{% if request.user.is_authenticated %}
							<li>
								<div class="vertical-align">
									<div class="middle">
										<a href="{% url 'followed-projects' %}">
											<i class="icon icon-dashboard"></i>
											<span class="tablet-only">Dashboard</span>
										</a>
									</div>
								</div>
							</li>

							<li>
								<div class="vertical-align">
									<div class="middle">
										<a href="{% url 'notifications' %}">
											<i class="icon icon-notification"></i>
											{{ request.user.all_notifications|length }}
										</a>
									</div>
								</div>
							</li>
						{% endif %}

						<li class="profile{% if not request.user.is_authenticated %} login-link{% endif %}">
							<div class="vertical-align">
								<div class="middle">
									{% if request.user.is_authenticated %}
										<i class="icon icon-user"></i>
										<a href="/profile/">{{ request.user.profile.get_display_name }}</a>

										<i class="fa fa-angle-down"></i>
									{% else %}
										{% if not ignore_login_link %}
											<a href="/activitytracker/login/?next=/profile/">Login</a>
										{% endif %}
									{% endif %}
								</div>
							</div>

							{% if request.user.is_authenticated %}
								<ul class="submenu">
									<li>
										{% with user=request.user %}
											{% include 'gamification/info.html' %}
										{% endwith %}
									</li>
									<li><a href="/profile/"><i class="icon icon-profile"></i> Edit profile</a></li>
									<li><a href="{% url 'settings' %}"><i class="icon icon-settings"></i> Settings</a></li>
									<li><a href="{% url 'password-change' %}"><i class="icon icon-locked"></i> Change password</a></li>
									<li><a href="{% url 'logout' %}"><i class="icon icon-sign-out"></i> Log out</a></li>
								</ul>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>
		</header>

		{% include 'gamification/leaderboard.html' %}
		{% include 'gamification/badge-collection.html' %}