{% load staticfiles %}

<!-- Pop-up modal: Tutorial -->
<div id="popup-tutorial-user" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog big">

		<!-- Modal content-->
		<div class="modal-content">
			<div id="tutorial-step-1" class="tutorial-step modal-step active">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img class="icon close-item svg" src="{% static "img/icons/icon-close.svg" %}"></i></button>

					<header class="page-header">
						<img src="{% static "img/tutorial-user/tutorial-step-1.svg" %}" class="tutorial-img">
					</header>
				</div>

				<div class="modal-body">
					<h1 class="header-large">Welcome to your dashboard</h1>

					<p>Take a tour and let us explain all the functionalities of CloudTeams.</p>
					<p>You can also skip this tour and recall it later on from the footer.</p>
				</div>

				<div class="modal-footer">
					<ul class="tutorial-pagination">
						<li class="active"></li>
						<li id="tutorial-btn-to-step-2" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-3" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-4" class="tutorial-button"></li>
					</ul>

					<a href="" data-dismiss="modal" class="btn-transparent" alt="close popup">Skip</a>
					<a href="" id="tutorial-btn-to-step-2" class="tutorial-button btn" alt="next tutorial slide">Next</a>
				</div>
			</div>

			<div id="tutorial-step-2" class="tutorial-step modal-step">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img class="icon close-item svg" src="{% static "img/icons/icon-close.svg" %}"></i></button>

					<header class="page-header">
						<div class="vertical-align">
							<div class="middle image">
								<img src="{% static "img/tutorial-user/tutorial-step-2.jpg" %}" class="tutorial-img">
							</div>

							<div class="middle explanation">
								<div>
									<div class="middle">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-dashboard.svg" %}">
									</div>

									<div class="middle">
										<p class="header-medium secondary">Return to your dashboard anywhere</p>
									</div>
								</div>

								<div>
									<div class="middle">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-notifications.svg"%} ">
									</div>

									<div class="middle">
										<p class="header-medium secondary">All your actions in CloudTeams will come here.</p>
									</div>
								</div>

								<div>
									<div class="middle">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-profile.svg" %}">
									</div>

									<div class="middle">
										<p class="header-medium secondary">This is you. Quickly edit your profile, go to settings or log out.</p>
									</div>
								</div>
							</div>
						</div>
					</header>
				</div>

				<div class="modal-body">
					<h1 class="header-large">Topmenu</h1>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit.</p>
				</div>

				<div class="modal-footer">
					<ul class="tutorial-pagination">
						<li id="tutorial-btn-to-step-1" class="tutorial-button"></li>
						<li class="active"></li>
						<li id="tutorial-btn-to-step-3" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-4" class="tutorial-button"></li>
					</ul>

					<a href="" data-dismiss="modal" class="btn-transparent" alt="close popup">Skip</a>
					<a href="" id="tutorial-btn-to-step-3" class="tutorial-button btn" alt="next tutorial slide">Next</a>
				</div>
			</div>

			<div id="tutorial-step-3" class="tutorial-step modal-step">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img class="icon close-item svg" src="{% static "img/icons/icon-close.svg" %}"></i></button>

					<header class="page-header">
						<div class="vertical-align">
							<div class="middle image">
								<img src="{% static "img/tutorial-user/tutorial-step-3.jpg" %}" class="tutorial-img">
							</div>

							<div class="middle explanation">
								<p class="header-medium secondary">In your sidepanel you can find all your projects and campaigns</p>

								<p class="header-medium secondary">To have an overview of all your notifications you use the sidepanel 'Notificiations'.</p>

								<p class="header-medium secondary">You can also start exploring here. Click on 'Explore projects' and you will go to the 'All projects' area.</p>
							</div>
						</div>
					</header>
				</div>


				<div class="modal-body">
					<h1 class="header-large">Sidepanel</h1>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit.</p>
				</div>

				<div class="modal-footer">
					<ul class="tutorial-pagination">
						<li id="tutorial-btn-to-step-1" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-2" class="tutorial-button"></li>
						<li class="active"></li>
						<li id="tutorial-btn-to-step-4" class="tutorial-button"></li>
					</ul>

					<a href="" data-dismiss="modal" class="btn-transparent" alt="close popup">Skip</a>
					<a href="" id="tutorial-btn-to-step-4" class="tutorial-button btn" alt="next tutorial slide">Next</a>
				</div>
			</div>

			<div id="tutorial-step-4" class="tutorial-step modal-step">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img class="icon close-item svg" src="{% static "img/icons/icon-close.svg" %}"></i></button>

					<header class="page-header">
						<div class="vertical-align">
							<div class="middle image">
								<img src="{% static "img/tutorial-user/tutorial-step-4.jpg" %}" class="tutorial-img">
							</div>

							<div class="middle explanation">
								<p class="header-medium secondary">On the bottom of your left sidepanel you can see your 'Profile completion'.</p>

								<p class="header-medium secondary">You will be linked and invited to projects that suit you when you give more info.</p>

								<p class="header-medium secondary">Under the 'Profile completion' you will see 'Profile information'. The most relevant info about you is displayed here.</p>
							</div>
						</div>
					</header>
				</div>

				<div class="modal-body">
					<h1 class="header-large">Profile stats</h1>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit.</p>
				</div>

				<div class="modal-footer">
					<ul class="tutorial-pagination">
						<li id="tutorial-btn-to-step-1" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-2" class="tutorial-button"></li>
						<li id="tutorial-btn-to-step-3" class="tutorial-button"></li>
						<li class="active"></li>
					</ul>

					<a href="" data-dismiss="modal" class="btn-transparent" alt="close popup">Skip</a>
					<a href="" data-dismiss="modal" class="btn" alt="close popup">Get started</a>
				</div>
			</div>
		</div>
	</div>
</div>