.chosen-container {
    min-width: 300px !important;
}

/* Slider */

.page-container {
    background-color: #f7f7f7;
}

.bjqs-prev a, .bjqs-next a {
    background-color: #777;
    color: #fff;
    padding: 10px;
}

.bjqs-markers {
    display: none;
}

/* Field layout */
.page-container h2 {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.centered-fields {
    width: 1200px;
    margin-left: calc(50% - 600px);
}

.centered-fields  .field {
    padding: 10px 0;
}

.centered-fields  .field label {
    min-width: 400px;
    display: inline-block;
}

.page-container .text-center {
    text-align: center;
    margin-top: 180px;
}

/* NiceOpt */
.opt-container .option {
    display: inline-block;
    padding: 5px 10px;
    height: 100px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    vertical-align: top;
}

.opt-container .option.option-active {
    background: #1C2B36;
    color: #fff;
}

.opt-container .option span {
    display: block;
    margin: 10px 0;
}

.opt-container .number-icon {
    font-style: normal;
    display: block;
    font-size: 26px;
    margin: 0 20px 10px 20px;
    padding: 20px 0;
    background: #aaa;
    border-radius: 50%;
    color: #eee;
}
/* Basic info */
#avatar-container {
    height: 300px;
    border: 1px dotted #aaa;
}

#trigger-avatar-upload {
    width: calc(100% - 26px);
}

/* Brand opinions */
#tech-opinion {
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.opinion-col {
    margin-top: 100px;
}

.opinion-col-right {
    text-align: right;
}

.col-brand {
    text-align: center;
}

.col-brand .brand-icon {
    border-radius: 50%;
    display: block;
    margin-left: 25%;
}

.send-opinion {
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.send-opinion:hover {
    color: #BFBFBF;
}

.send-opinion.opinion-positive:hover {
    color: #26A65B;
}

.send-opinion.opinion-negative:hover {
    color: #CF000F;
}