.chosen-container {
    min-width: 300px !important;
}

/* Slider */

.page-container {
    background-color: #f7f7f7;
}

.bjqs-prev a, .bjqs-next a {
    background-color: #777;
    color: #fff;
    padding: 10px;
}

.bjqs-markers {
    display: none;
}

/* Field layout */
.page-container h2 {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.centered-fields {
    width: 1000px;
    margin-left: calc(50% - 500px);
}

.centered-fields  .field {
    padding: 10px 0;
}

.centered-fields  .field label {
    min-width: 400px;
    display: inline-block;
}

.page-container .text-center {
    text-align: center;
    margin-top: 180px;
}

/* NiceOpt */
.opt-container .option {
    display: inline-block;
    padding: 5px 10px;
    height: 100px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    vertical-align: top;
}

.opt-container .option.option-active {
    background: #1C2B36;
    color: #fff;
}

.opt-container .option span {
    display: block;
    margin: 10px 0;
}

/* Basic info */
#avatar-container {
    height: 300px;
    border: 1px dotted #aaa;
}

#trigger-avatar-upload {
    width: calc(100% - 26px);
}