/* Generic gamification info */
.gamification-info {
    color: #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.gamification-info .progress-container .progress-wrap .progress-bar {
    background: #27ae60;
}

/* Leaderboard */
#leaderboard-popup.modal-default.in .modal-body,
#badge-collection-popup.modal-default.in .modal-body{
    height: 380px;
    overflow-y: auto;
}

#leaderboard-popup .modal-header,
#badge-collection-popup .modal-header {
    background: #3f1e47;
}

#leaderboard-popup .modal-header h3,
#badge-collection-popup .modal-header h3,
#leaderboard-popup .modal-header button.close,
#badge-collection-popup .modal-header button.close {
    color: #eee;
}

.leaderboard-table > thead > tr > th {
    border-top: none;
}

.leaderboard-table > tbody > tr.my-profile > td {
    font-weight: 600;
}

/* Badge collection */
.badge {
    padding: 5px 40px;
}

.badge > .badge-content {
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
}

.badge > .badge-content .fa-trophy {
    position: absolute;
    font-size: 20px;
    color: #ddd;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

.badge > .badge-content .name {
    margin-top: 50px;
    display: block;
    color: #777;
}

.badge.badge-rewarded > .badge-content {
    background: #3f1e47;
}

.badge.badge-rewarded > .badge-content .name,
.badge.badge-rewarded > .badge-content .fa-trophy {
    color: white;
}

.badge-row {
    border-bottom: 1px solid #eee;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.badge-row:last {
    border-bottom: none;
}

.badge-name, .badge-description {
    padding-top: 15px
}