
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{% block app_title %}{% endblock %}</title>
	<meta name="description" content="Activity Tracker Application">
	<meta name="author" content="Aggelos Arvanitakis">
	<meta name="keyword" content="Activity, Track, Tracker, Manage, Logs, Everyday Life">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
    {% load staticfiles %}
    {% load custom_templates %}
    <link href="{% static 'activitytracker/css/googlemaps.css' %}" rel="stylesheet">
	<link id="bootstrap-style" href="{% static 'activitytracker/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'activitytracker/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link id="bootstrap-style" href="{% static 'activitytracker/css/bootstrap-tokenfield.css' %}" rel="stylesheet">
	<link id="base-style" href="{% static 'activitytracker/css/style.css' %}" rel="stylesheet">
	<link id="base-style-responsive" href="{% static 'activitytracker/css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/bootstrap-clockpicker.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/jquery.tokenize.css' %}" rel="stylesheet">
    <link href="{% static 'activitytracker/css/style-font.css' %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	{% block css %}
    {% endblock %}
    <!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/static/activitytracker/img/favicon.ico"/>
	<!-- end: Favicon -->
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url 'index' %}"><span>CloudTeams Community</span></a>

				<ul class="nav">
					<li><a href="{% url 'index' %}">My profile</a></li>
					<li><a href="{% url 'all-projects' %}">CloudTeams projects</a></li>
				</ul>
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{ request.user.username }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Options</span>
								</li>
								<li>
                                    <a href="{% url 'settings' %}"><i class="halflings-icon user"></i> Profile</a>
							    </li>
								<li>
                                    <a href="{% url 'logout' %}"><i class="halflings-icon off"></i> Logout</a>
                                </li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->

	<div class="container-fluid-full">
		<div class="row-fluid">
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
                {% block menu %}{% endblock %}
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

            <!-- start: Content -->
    	    <div id="content" class="span10" style="padding-bottom:0">
                {% block content %}
                {% endblock %}
            </div>

            	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2015 <a href="https://www.facebook.com/aggelos.arvanitakis" alt="Bootstrap_Metro_Dashboard">Arvanitakis Labs</a></span>

		</p>

	</footer>

	<!-- start: JavaScript-->

		<script src="{% static 'activitytracker/js/jquery-1.9.1.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery-ui-1.10.0.custom.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.ui.touch-punch.js' %}"></script>

        <script src="{% static 'activitytracker/js/jquery-migrate-1.0.0.min.js' %}"></script>

        <script src="{% static 'activitytracker/js/bootstrap.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/modernizr.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.cookie.js' %}"></script>

		<script src="{% static 'activitytracker/js/fullcalendar.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.dataTables.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/excanvas.js' %}"></script>
		<script src="{% static 'activitytracker/js/jquery.flot.js' %}"></script>
		<script src="{% static 'activitytracker/js/jquery.flot.pie.js' %}"></script>
		<script src="{% static 'activitytracker/js/jquery.flot.stack.js' %}"></script>
		<script src="{% static 'activitytracker/js/jquery.flot.resize.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.chosen.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.uniform.min.js' %}"></script>

		<script src="{% static 'activitytracker/js/jquery.iphone.toggle.js' %}"></script>

		<script src="{% static 'activitytracker/js/counter.js' %}"></script>

		<script src="{% static 'activitytracker/js/custom.js' %}"></script>

        <script src="{% static 'activitytracker/js/bootstrap-clockpicker.min.js' %}"></script>

        <script src="{% static 'activitytracker/js/jquery.tokenize.js' %}"></script>

        <script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf_gsxRLZWfI5AueDRydB2s0v5uAgTp3M&?v=3.exp&signed_in=true&libraries=places">
		</script>

		<!-- end: JavaScript-->
        {% block js %}
        {% endblock %}
</body>
</html>
