{% load staticfiles %}
{% load url from future %}
{% load compress %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="cleartype" content="on">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{% block title %}{% endblock %} | CloudTeams</title>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="{% static "css/global-dev.css" %}">
		{% compress css %}
			<link href="{% static 'activitytracker/css/googlemaps.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/clockpicker/dist/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet">
			<link href="{% static 'activitytracker/css/bootstrap-chosen.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/chosen/chosen.min.css' %}" rel="stylesheet">
			<link href="{% static 'activitytracker/css/romanos.css' %}" rel="stylesheet">
			<link href="{% static 'css/style.css' %}" rel="stylesheet">
		{% endcompress %}
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
		{% block css %}
        {% endblock %}
	</head>

	<body>
		{% include "util/menu.html" %}

		<section class="page public-page {% block section_class %}{% endblock %}">
			<div class="content">
				<main>
					<header class="main-header">
						<div class="container">
							<h1 class="header-extra-large public">Cloudteams</h1>
							<p class="public-page-subtitle">Collect rewards for giving feedback</p>
						</div>
					</header>

					{% block content %}
					{% endblock %}
				</main>
			</div>
		</section>

		{% include "util/footer.html" %}
		{% block modals %}


        {% endblock %}
		<script type="text/javascript" src="{% static "js/global-dev.js" %}"></script>
		<script type="text/javascript" src="{% static "js/common-dev.js" %}"></script>
		{% compress js %}
            <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
			<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
            <script src="{% static 'bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'bower_components/chosen/chosen.jquery.min.js' %}"></script>
            <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
            <script src="{% static 'bower_components/clockpicker/dist/bootstrap-clockpicker.min.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
            <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf_gsxRLZWfI5AueDRydB2s0v5uAgTp3M&?v=3.exp&signed_in=true&libraries=places">
            </script>
        {% endcompress %}
		{% block js %}
		{% endblock %}

	</body>
</html>