{% load staticfiles %}
{% load url from future %}
{% load compress %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="cleartype" content="on">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{% block title %}{% endblock %} | CloudTeams</title>

		<link rel="icon" href="{% static 'favicon.ico' %}">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{% static "css/activicon.css" %}">
		<link rel="stylesheet" href="{% static "css/global-dev.css" %}?v=20160916.1">
		{% compress css %}
			<link href="{% static 'activitytracker/css/googlemaps.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/clockpicker/dist/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet">
			<link href="{% static 'activitytracker/css/bootstrap-chosen.css' %}" rel="stylesheet">
			<link href="{% static 'bower_components/chosen/chosen.min.css' %}" rel="stylesheet">
			<link href="{% static 'activitytracker/css/romanos.css' %}" rel="stylesheet">
			<link href="{% static 'gamification/css/style.css' %}" rel="stylesheet">
			<link href="{% static 'css/style.css' %}?v=20160728.1" rel="stylesheet">
		{% endcompress %}
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" />
		{% block css %}
        {% endblock %}
	</head>

	<body>
		{% include "ct_projects/util/inline-notifications.html" %}
		{% include "util/menu.html" %}

		<section class="page {% block class_public_page %}public-page {% endblock %}{% block section_class %}{% endblock %}">

			{% block pre_content %}
			{% endblock %}

			<div {% block wrapper %}class="container"{% endblock %}>
				<div class="content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</section>

		{% include "util/footer.html" %}
		{% block modals %}


        {% endblock %}
		<script type="text/javascript" src="{% static 'js/global-dev.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/common-dev.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/custom.js' %}?v=20160718.1"></script>
		<script type="text/javascript" src="{% static 'gamification/js/actions.js' %}?v=20160718.1"></script>

		{% compress js %}
            <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
			<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
            <script src="{% static 'bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
            <script src="{% static 'bower_components/chosen/chosen.jquery.min.js' %}"></script>
            <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
            <script src="{% static 'bower_components/clockpicker/dist/bootstrap-clockpicker.min.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
            <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf_gsxRLZWfI5AueDRydB2s0v5uAgTp3M&?v=3.exp&signed_in=true&libraries=places">
            </script>
        {% endcompress %}

			<script src="{% static 'js/jquery.noty.min.js' %}"></script>
			<script>
			  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  	ga('create', 'UA-48936961-8', 'auto');
			  	ga('send', 'pageview');
			</script>
			<script>
				$(function() {
					$.each($('#inline-notification-list .inline-notification-element'), function(idx, item) {
						var $item = $(item);
						var text = $.trim($item.text());
						var type = text.charAt(1);
						var message = text.substr(3);
						var n = noty({
							text: message,
							animation: {
								open: {height: 'toggle'}, // jQuery animate function property object
								close: {height: 'toggle'}, // jQuery animate function property object
								easing: 'swing', // easing
								speed: 500 // opening & closing animation speed
							},
							template:  '<div class="noty_message emotion-' + type + '"><span class="noty_text"></span><div class="noty_close"></div></div>'
						});

						n.setTimeout(7000);
					})
				});
			</script>
		{% block js %}
		{% endblock %}

	</body>
</html>