				{% load url from future %}

				<div class="nav-collapse sidebar-nav collapse padding-5">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li ><a href="{% url 'index' %}"><i class="icon-calendar"></i><span class="hidden-sm"> History</span></a></li>
						<li><a href="{% url 'timeline' %}"><i class="icon-tasks"></i><span class="hidden-sm"> Timeline</span></a></li>
						<li><a href="{% url 'goals' %}"><i class="icon-trophy"></i><span class="hidden-sm"> Goals</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-sm"> Analytics</span></a>
							<ul>
                                <li><a class="submenu" href="{% url 'analytics-routine' %}"><i class="icon-calendar"></i><span class="hidden-sm"> Routine</span></a></li>
								<li><a class="submenu" href="{% url 'analytics-activities' %}"><i class="icon-star"></i><span class="hidden-sm"> Activities</span></a></li>
								<li><a class="submenu" href="{% url 'analytics-friends' %}"><i class="icon-group"></i><span class="hidden-sm"> Friends</span></a></li>
								<li><a class="submenu" href="{% url 'analytics-goals' %}"><i class="icon-trophy"></i><span class="hidden-sm"> Goals</span></a></li>
                                <li><a class="submenu" href="{% url 'analytics-places' %}"><i class="icon-globe"></i><span class="hidden-sm"> Places</span></a></li>
                                <li><a class="submenu" href="{% url 'analytics-objects' %}"><i class="icon-wrench"></i><span class="hidden-sm"> Objects</span></a></li>
                            </ul>
						</li>
                        <li><a href="{% url 'configuration' %}"><i class="icon-cogs"></i><span class="hidden-sm"> Configuration</span></a></li>
                        <li><a href="{% url 'dashboard' %}"><i class="icon-list-alt"></i><span class="hidden-sm"> Dashboard </span></a></li>
                    </ul>
				</div>