{% extends "ct_projects/base.html" %}

{% load staticfiles %}
{% block class_public_page %}{% endblock %}
{% block section_class %}page-user-dashboard-projects dashboard-page user-dashboard-page message{% endblock %}

    {% block pre_content %}

            <div class="complete-profile active {% if profile.get_completion_progress > 20 or not profile_edit %}hide-all{% endif %}">
                <div class="container">
                    <img class="icon menu-icon svg" src="{% static "img/icons/icon-check.svg" %}">
                    <p>Tell us more about yourself and complete your profile <a href="{% url 'start-profile-wizard' %}">Go to your profile page</a></p>
                </div>
            </div>
    {% endblock %}

{% block content %}

			<div class="row">
                {% include "dashboard/side-menu.html" %}

				<main class="col-lg-9">
					{% block dashboard_content %}
                    {% endblock %}
				</main>
			</div>

{% endblock %}