{% extends "ct_projects/base.html" %}

{% load staticfiles %}
{% load profile_tags %}
{% block class_public_page %}{% endblock %}

{% with profile=profile|default:request.user.profile profile_edit=profile_edit|default:False %}
    {% with incomplete_profile=profile|is_profile_incomplete %}
        {% with show_profile_edit=incomplete_profile|nand:edit_page %}
            {% block section_class %}page-user-dashboard-projects dashboard-page user-dashboard-page message{% if not show_profile_edit %} no-profile-edit-bar{% endif %}{% endblock %}

            {% block pre_content %}
                <div class="complete-profile active{% if not show_profile_edit %} hidden{% endif %}">
                    <div class="container">
                        <p><i class="icon icon-check"></i> Tell us more about yourself and complete your profile <a href="{% url 'start-profile-wizard' %}">Go to your profile page</a></p>
                    </div>
                </div>
            {% endblock %}
        {% endwith %}
    {% endwith %}
{% endwith %}

{% block content %}

			<div class="row">
                {% include "dashboard/side-menu.html" %}

				<main class="col-lg-9">
					{% block dashboard_content %}
                    {% endblock %}
				</main>
			</div>

{% endblock %}