{% load staticfiles %}
{% load profile_tags %}

{% with profile=request.user.profile %}
	<aside class="dashboard-side-menu dashboard-side-menu-user col-lg-3">
		<header>
			<div class="vertical-align">
				<div class="middle">
					<h1 class="header-small"><span>Dashboard</span></h1>
					<p class="page-subtitle minimize-panel minimize-toggle"><i class="icon icon-arrow-left"></i><span class="fold-back"> Fold back</span></p>
				</div>
			</div>
		</header>

		<div class="member">
			<div class="row">
				<div class="vertical-align">
					{% if profile.avatar %}
						<div class="profile-picture col-xs-4 middle">
							<div class="profile-avatar" style="background-image:url({{ profile.avatar }}); height: 50px;"></div>
						</div>
					{% endif %}
						<div class="information col-xs-8 middle">
							<ul>
								<li class="meta big">{{ profile.get_display_name }}</li>
								<li><a href="{% url 'start-profile-wizard' %}">Edit profile</a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>

		<nav class="side-menu">
			<ul>
				<li class="active">
					<a href="{% url 'followed-projects' %}">
						<i class="icon icon-project"></i>
						<span>Projects</span>
					</a>
				</li>

				<li>
					<a href="{% url 'followed-campaigns' %}">
						<i class="icon icon-campaign"></i>
						<span>Campaigns</span>
					</a>
				</li>

				<li>
					<a href="{% url 'notifications' %}" {% if request.user.unread_notifications %}class="incoming"{% endif %}>
						<i class="icon icon-notification"></i>
						<span>Notifications</span>
					</a>
				</li>

				<li>
					<a href="{% url 'all-projects' %}">
						<i class="icon icon-all-projects"></i>
						<span>All projects</span>
					</a>
				</li>
				<li>
					<a href="/activitytracker/index/">
						<i class="icon icon-activity"></i>
						<span>Activities</span>
					</a>
				</li>
			</ul>
		</nav>

		<div data-toggle="modal" data-id="invitation-popup" class="btn btn-invite" title="Invite people to CloudTeams">
			<i class="fa fa-envelope"></i>
			<span class="hidden-xs">Invite a friend</span>
		</div>

		<div class="modal modal-default hide" id="invitation-popup">
		 	<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Invite your friends to CloudTeams!</h3>
		  	</div>
			<div class="modal-body">
				<p>Do you enjoy your time on CloudTeams? We bet your friends will, too!</p>
				<p>You can send an invitation to people you think want to participate in our platform using the form bellow:</p>

				<form class="invitation-form" action="/profile/send-invitation/" method="POST">
					{% csrf_token %}

					<label for="id_invited-name">Name</label>
					<input type="text" name="invited_name" id="id_invited-name" value="" required="required" placeholder="John S."/>

					<label for="id_invited-email">Email address</label>
					<input type="email" name="invited_email" id="id_invited-email" value="" required="required" placeholder="someone@test.com"/>

					<button type="submit" class="btn btn-transparent pull-right" style="margin: 20px 0"><i class="fa fa-envelope"></i> <span>Send invitation</span></button>
				</form>

			</div>
		</div>

		<div class="modal modal-default hide" id="invitation-success">
		 	<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Invitation sent</h3>
		  	</div>
			<div class="modal-body">
				<p>An invitation to <b class="to-email"></b> has been sent.</p>
				<p>Thank you for inviting your friends to CloudTeams!</p>
			</div>
			<div class="modal-footer">
				<div class="btn btn-transparent" data-dismiss="modal" aria-label="OK">OK</div>
			</div>
		</div>

		<div class="bottom">

			<div class="profile-completion">
				<h2 class="header-sidebar">Profile completion</h2>

				{% with progress=profile.get_completion_progress %}
					<div class="progress-container">
						<div class="progress-wrap" data-progress-percent="{{ progress|to_percent }}">
							<div class="progress-bar"></div>
						</div>
						<p class="percentage bold">{{ progress }}/100</p>
					</div>
				{% endwith %}

				<p class="update-profile"><a href="{% url 'start-profile-wizard' %}">Update your profile</a></p>
			</div>

			<div class="profile-information">
				<h2 class="header-sidebar">Profile information</h2>
				<ul>
					<li>
						<i class="icon icon-city"></i>
						{% if request.user.location %}{{ request.user.location }}{% else %}-{% endif %}
					</li>

					<li>
						<i class="icon icon-work"></i>
						{% if profile.business_sector %}{{ profile.business_sector }}{% else %}-{% endif %}
					</li>

					<li>
						<i class="icon icon-location"></i>
						{% if profile.work_position %}{{ profile.work_position }}{% else %}-{% endif %}
					</li>

					<li>
						<i class="icon icon-gender"></i>
						{% if request.user.gender == 'M' %}
							Male
						{% elif request.user.gender == 'F' %}
							Female
						{% else %}
							-
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</aside>
{% endwith %}