{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% block title %}Notifications Dashboard{% endblock %}
{% block dashboard_content %}
        <header class="main-header">
            <div class="vertical-align">
                <div class="middle">
                    <i class="icon icon-notification"></i>
                    <h1 class="header-large">Notifications</h1>
                </div>
            </div>
        </header>

        <section class="developer-dashboard-notifications-content">
            <div class="legend">
                <p class="legend-item"><i class="icon icon-check"></i> Action</p>
                <p class="legend-item"><i class="icon icon-time"></i> Date</p>
            </div>

            <section class="content">
                {% for notification in notifications %}
                    {% include "profile/notification/item.html" %}
                {% empty %}
                    <p class="empty-dashboard">You have no notifications</p>
                {% endfor %}

                <!--<a href="#nowhere" class="btn">Load more</a>-->
            </section>
        </section>
{% endblock %}