{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% block title %}Notifications Dashboard{% endblock %}
{% block dashboard_content %}
        <header class="main-header">
            <div class="vertical-align">
                <div class="middle">
                    <img class="svg" src="{% static "img/icons/icon-notifications.svg" %}">
                    <h1 class="header-large">Notifications</h1>
                </div>
            </div>
        </header>

        <section class="developer-dashboard-notifications-content">
            <div class="legend">
                <p class="legend-item"><img class="icon legend-icon legend-icon-check svg" src="{% static "img/icons/icon-check.svg" %}"> Action</p>
                <p class="legend-item"><img class="icon legend-icon legend-icon-time svg" src="{% static "img/icons/icon-time.svg" %}"> Date</p>
            </div>

            <section class="content">
                {% for notification in notifications %}
                    {% include "profile/notification/item.html" %}
                {% empty %}
                    <p>No notifications</p>
                {% endfor %}

                <!--<a href="#nowhere" class="btn">Load more</a>-->
            </section>
        </section>
{% endblock %}