{% load staticfiles %}
{% load humanize %}

{% with c=notification.campaign %}
	<a href="{{ notification.url }}" class="notification-link" {% if c %}target="_blank"{% endif %}>
		<article class="notification">
			<div class="vertical-align">
				<div class="middle">
					{% if notification.seen %}
						<i class="icon icon-check"></i>
					{% endif %}

					{{ notification.message }}<br />
					{% if c %}
						<span class="info">{{ c.name }} campaign, {{ c.project.title }}</span>
					{% endif %}
				</div>

				<div class="middle">
					{% if c %}
						<p class="meta thin inline-block">{{ c.expires|naturaltime }}</p>
					{% endif %}
					<i class="fa fa-external-link fa-2x pull-right"></i>
				</div>
			</div>
		</article>
	</a>
{% endwith %}