{% load staticfiles %}
{% load humanize %}

{% with c=notification.campaign link=notification.url custom_action=notification.custom_action%}
    <article class="notification">
        <div class="vertical-align">
            <div class="middle">

                {% autoescape off %}
                    {{ notification.message }}<br />
                {% endautoescape %}
                {% if c %}
                    <span class="info">{{ c.name }} campaign, {{ c.project.title }}</span>
                {% endif %}

                <div>
                    {% if link %}
                        <a href="{{ link }}" class="notification-link" {% if c %}target="_blank"{% endif %}>
                            <i class="icon icon-campaign"></i> {{ notification.main_action_text }}
                        </a>
                    {% elif custom_action %}
                        <form action="/profile/notifications/{{ notification.pk }}/perform-main-action/" method="POST">
                            {% csrf_token %}
                            <button class="notification-link" type="submit">
                                <i class="icon icon-campaign"></i>
                                {{ notification.main_action_text }}
                            </button>
                        </form>
                    {% endif %}

                    <form action="/profile/notifications/{{ notification.pk }}/dismiss/" method="POST">
                        {% csrf_token %}
                        <button class="notification-link" type="submit">
                            <i class="icon {% if link or custom_action %}icon-close{% else %}icon-check{% endif %}"></i>
                            {{ notification.dismiss_action_text }}
                        </button>
                    </form>
                </div>
            </div>

            <div class="middle">
                {% if c %}
                    <p class="meta thin inline-block">{{ c.expires|naturaltime }}</p>
                {% endif %}
            </div>
        </div>
    </article>
{% endwith %}